workflows/BrinCare - Lembrete 1 dia antes.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "hoje é domingo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos": {
      "main": [
        [
          {
            "node": "separa agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcado - não confirmado1": {
      "main": [
        [
          {
            "node": "Renomeando status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência1": {
      "main": [
        [
          {
            "node": "Atualizar Data Agendamento no BC1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Data Agendamento no BC1": {
      "main": [
        [
          {
            "node": "Atualizar Hora Agendamento no BC1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Hora Agendamento no BC1": {
      "main": [
        [
          {
            "node": "Atualizar Procedimento no BC1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Procedimento no BC1": {
      "main": [
        [
          {
            "node": "Salvar nome crianca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "responsavel cadastrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hoje é sexta?": {
      "main": [
        [
          {
            "node": "somando 3 dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "somando 1 dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "somando 1 dia": {
      "main": [
        [
          {
            "node": "formatando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "somando 3 dias": {
      "main": [
        [
          {
            "node": "formatando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos": {
      "main": [
        [
          {
            "node": "Marcado - não confirmado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Valores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Valores1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores1": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Valores2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Valores3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores2": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores3": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hoje é domingo?": {
      "main": [
        [],
        [
          {
            "node": "hoje é sexta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores4": {
      "main": [
        [
          {
            "node": "1 POR VEZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR PROCEDIMENTO": {
      "main": [
        [
          {
            "node": "BUSCAR profissional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes": {
      "main": [
        [
          {
            "node": "BUSCAR PROCEDIMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "responsavel cadastrado?": {
      "main": [
        [
          {
            "node": "Valores4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Valores5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores5": {
      "main": [
        [
          {
            "node": "1 POR VEZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar nome crianca": {
      "main": [
        [
          {
            "node": "Salvar nome profissional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR profissional": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 POR VEZ": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renomeando status": {
      "main": [
        [
          {
            "node": "buscar pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "1 POR VEZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar nome profissional": {
      "main": [
        [
          {
            "node": "enviar fluxo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-18T10:45:31.143Z",
  "id": "18",
  "name": "BrinCare - Lembrete 1 dia antes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cec89548-18e9-4fee-9b31-2e0e0570d002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        440
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-amanha\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-amanha\"] }}"
            }
          ]
        }
      },
      "id": "c88be343-02d5-4a71-926b-f21ed1264bb3",
      "name": "Listar Agendamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        860,
        440
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_id.toString() }}",
              "value2": "1"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "3b484d7a-3466-4f05-bfcc-355b6ec10c5f",
      "name": "Marcado - não confirmado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        440
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 POR VEZ\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4880,
        440
      ],
      "id": "a75be772-ac07-4992-959d-dd726c6e855d",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/custom_fields/1316318/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 POR VEZ').item.json[\"data\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d688ab9b-c96b-4443-ae7d-5864c537b6cf",
      "name": "Atualizar Data Agendamento no BC1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5140,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/custom_fields/1316319/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 POR VEZ').item.json[\"horario\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11bffe2c-4eb7-401e-bb76-3a4857e1a145",
      "name": "Atualizar Hora Agendamento no BC1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5400,
        440
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/custom_fields/1316320/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 POR VEZ').item.json[\"procedimento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "566330b1-8529-4877-891f-06e3e2e7e568",
      "name": "Atualizar Procedimento no BC1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5660,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "2281132"
            }
          ]
        },
        "options": {}
      },
      "id": "33a449da-94bc-4d79-951a-35e80ea936df",
      "name": "enviar fluxo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6360,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "061e720a-5b91-4759-be28-8daeac784c84",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        6600,
        440
      ],
      "webhookId": "d4b48830-e382-4c4a-8d5c-1ff3c39fbf94"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b43682f6-f159-462a-8f04-bddbe8e9b1bc",
      "name": "possui telefone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2980,
        460
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "procedimento",
              "separateBy": ", "
            },
            {
              "aggregation": "concatenate",
              "field": "agendamento_id"
            },
            {
              "aggregation": "append",
              "field": "data"
            },
            {
              "aggregation": "append",
              "field": "horario"
            },
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            },
            {
              "aggregation": "append",
              "field": "Responsavel",
              "includeEmpty": true
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "0e37e2b2-9c50-4daa-8056-bd1c4efe6f3a",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        3400,
        440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Day of week\"] }}",
              "value2": "Friday"
            }
          ]
        }
      },
      "id": "2be5b3b2-8d12-44fc-8bdb-c9356c6e4989",
      "name": "hoje é sexta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        440
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"data-amanha\"] }}",
        "dataPropertyName": "data-amanha",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {}
      },
      "id": "98e08a88-40af-4109-8f45-900db5947bba",
      "name": "formatando",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        640,
        440
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "duration": 1,
        "dataPropertyName": "data-amanha",
        "options": {}
      },
      "id": "8d84d6e6-f619-445d-8eb4-7db494bb4758",
      "name": "somando 1 dia",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        380,
        520
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "duration": 3,
        "dataPropertyName": "data-amanha",
        "options": {}
      },
      "id": "c50c4c19-a32e-44ae-8c42-140ab4b22b6e",
      "name": "somando 3 dias",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        380,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"celulares\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4cc6356f-0402-4a5a-a296-e3ec16bce43b",
      "name": "Valores",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2720,
        420
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "8d241982-2dc7-4a5b-8d61-5379747fb327",
      "name": "separa agendamentos",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1080,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.celulares[0] }}\n",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "41f2f29a-bcf0-4be0-9c83-9d3cc32cea4e",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2480,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "4debaffc-ed10-4be1-a491-c9d12ec971b4",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2480,
        660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"celulares\"][1]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "301c22c9-4720-40cb-b1cb-8f450aef84b3",
      "name": "Valores1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2720,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c705223d-1410-46d1-9de8-d13134890964",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2480,
        880
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes').item.json.content.telefones[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5c4ee283-a185-44c7-a2d4-f016f1995ff3",
      "name": "Valores2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2720,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes').item.json.content.telefones[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "52e951b1-a610-44b0-ace2-84a919a5bcae",
      "name": "Valores3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2720,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Day of week\"] }}",
              "value2": "Sunday"
            }
          ]
        }
      },
      "id": "51cdf4aa-d700-4527-b374-925d57f4863b",
      "name": "hoje é domingo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -140,
        440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{ $json.concatenated_agendamento_id.toString() }}"
            },
            {
              "name": "data",
              "value": "={{ $json.appended_data[0].toString() }}"
            },
            {
              "name": "horario",
              "value": "={{ $json.appended_horario[0].toString() }}"
            },
            {
              "name": "nome",
              "value": "={{ $json.appended_Responsavel[0] }}"
            },
            {
              "name": "procedimento",
              "value": "={{ $json.concatenated_procedimento }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            },
            {
              "name": "Nome Crianca",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "Proifissional",
              "value": "={{ $('BUSCAR profissional').item.json[\"content\"][\"informacoes\"][0][\"nome\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e115f3e0-f9e5-44f9-b905-c8ac0c92c674",
      "name": "Valores4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3900,
        360
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/procedures/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "procedimento_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"procedimento_id\"] }}"
            }
          ]
        }
      },
      "id": "cbeb5626-4073-4aa0-b8bd-5a866c4b431b",
      "name": "BUSCAR PROCEDIMENTO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1960,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "4d894fba-fc43-40c3-a54e-ac42ea012e3a",
      "name": "buscar pacientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1720,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Responsavel",
              "value": "={{ $('buscar pacientes').item.json.content.nome_social }}"
            }
          ]
        },
        "options": {}
      },
      "id": "44ede5f8-335b-4dbe-aeef-c33eda401df3",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3200,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.appended_Responsavel[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "25674357-cd29-455a-8d81-042cbccea2f9",
      "name": "responsavel cadastrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3620,
        440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{ $json.concatenated_agendamento_id.toString() }}"
            },
            {
              "name": "data",
              "value": "={{ $json.appended_data[0].toString() }}"
            },
            {
              "name": "horario",
              "value": "={{ $json.appended_horario[0].toString() }}"
            },
            {
              "name": "nome",
              "value": "=Responsável"
            },
            {
              "name": "procedimento",
              "value": "={{ $json.concatenated_procedimento }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            },
            {
              "name": "Nome Crianca",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "Profissional",
              "value": "={{ $('BUSCAR profissional').item.json[\"content\"][\"informacoes\"][0][\"nome\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8d620a8a-1b08-4a04-a5a6-615cd5a4be71",
      "name": "Valores5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3900,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/custom_fields/1271490/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 POR VEZ').item.json[\"Nome Crianca\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f75e2c62-5184-4cb2-bd8c-6ee97ca574a2",
      "name": "Salvar nome crianca",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5900,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/professional/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "profissional_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"profissional_id\"] }}"
            }
          ]
        }
      },
      "id": "f84fc1c3-117b-4930-8947-7c10fa5f9e30",
      "name": "BUSCAR profissional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2200,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8c9ac479-1c5c-4a50-9d55-7c7e812e4ade",
      "name": "1 POR VEZ",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        4180,
        440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status_id",
              "value": "={{ $json.status_id.toString().replace(\"3\",\"Atendido\").replace(\"1\",\"Marcado - não confirmado\").replace(\"7\",\"Marcado - confirmado\").replace(\"11\",\"Desmarcado\").replace(\"15\",\"Remarcado\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4022196-ee61-4da5-9992-1afa6e70e4da",
      "name": "Renomeando status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1520,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/custom_fields/1281325/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 POR VEZ').item.json[\"Profissional\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90111c6a-3bae-4d2d-98c8-ac9eb5edaeab",
      "name": "Salvar nome profissional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6120,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json.nome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ddd1cccf-a849-48bc-b725-405d9f2ca15d",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        4420,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "1b5da60c-fe82-4740-8ee6-044e530a8af9",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4660,
        440
      ]
    }
  ],
  "pinData": {
    "somando 1 dia": [
      {
        "json": {
          "timestamp": "2023-09-20T09:32:33.593-03:00",
          "Readable date": "September 20th 2023, 9:32:33 am",
          "Readable time": "9:32:33 am",
          "Day of week": "Wednesday",
          "Year": "2023",
          "Month": "September",
          "Day of month": "20",
          "Hour": "09",
          "Minute": "32",
          "Second": "33",
          "Timezone": "-03 -03:00",
          "data-amanha": "2023-09-19T12:32:33.000Z"
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "15"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-09-18T10:45:17.940Z",
      "updatedAt": "2023-09-18T10:45:17.940Z",
      "id": "3",
      "name": "BrinCare"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-09-20T13:35:03.000Z",
  "versionId": "31488aab-751a-4e27-846d-596b28b7f8f0"
}