workflows/BrinCare - Pesquisa de Satisfação.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "formatando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos": {
      "main": [
        [
          {
            "node": "separa agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 POR VEZ1": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "1 POR VEZ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "responsavel cadastrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos": {
      "main": [
        [
          {
            "node": "Atendido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "Salvar nome crianca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Valores4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Valores5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores4": {
      "main": [
        [
          {
            "node": "Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Valores6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Valores7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores5": {
      "main": [
        [
          {
            "node": "Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores6": {
      "main": [
        [
          {
            "node": "Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores7": {
      "main": [
        [
          {
            "node": "Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "responsavel cadastrado?": {
      "main": [
        [
          {
            "node": "Valores8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Valores9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores8": {
      "main": [
        [
          {
            "node": "1 POR VEZ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores9": {
      "main": [
        [
          {
            "node": "1 POR VEZ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendido": {
      "main": [
        [
          {
            "node": "buscar pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar nome crianca": {
      "main": [
        [
          {
            "node": "enviar fluxo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-19T15:47:53.583Z",
  "id": "19",
  "name": "BrinCare - Pesquisa de Satisfação",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "56f58231-34ff-4e8c-bacf-2f76f9f9f303",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        360,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-pesquisa\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-pesquisa\"] }}"
            }
          ]
        }
      },
      "id": "41aaaaba-71c8-4725-8775-a2e40ac5f3b2",
      "name": "Listar Agendamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        800,
        280
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "98a12347-0d39-45e4-91ed-f072f5e09372",
      "name": "1 POR VEZ1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        3620,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência\"].json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "2263927"
            }
          ]
        },
        "options": {}
      },
      "id": "ec97287f-7440-4c3c-a131-2ad67c50dda6",
      "name": "enviar fluxo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4720,
        280
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "0bfd9ddb-27bc-473f-8ada-1a1f3e948964",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4940,
        280
      ],
      "webhookId": "8fa1ccb8-89f1-4d6d-addc-cb4e9198f5cd"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "098679b2-1ced-48ce-a578-70d64d9aa7a2",
      "name": "possui telefone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2500,
        280
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            },
            {
              "aggregation": "append",
              "field": "Responsavel",
              "includeEmpty": true
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "cbdad952-4106-456f-8c8f-a380d77e90f0",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        2760,
        280
      ]
    },
    {
      "parameters": {
        "value": "={{ $now }}",
        "dataPropertyName": "data-pesquisa",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {}
      },
      "id": "f63d5cd0-c7bd-4fe0-8c61-34fd07ad8b8f",
      "name": "formatando",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        580,
        280
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "Responsavel",
              "value": "={{ $('buscar pacientes').item.json.content.nome_social }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes').item.json.content.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "95db5887-2179-4cd5-ad26-24ddb6a66c48",
      "name": "Valores",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2280,
        280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "50f42c55-4c3b-4b49-ae84-eaa87a8b8e7a",
      "name": "separa agendamentos",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1020,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.whatsapp }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4280,
        280
      ],
      "id": "a50a36c8-540d-4fe6-add3-5bf012c82f4c",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json.nome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a67f199-3002-41ba-aa9b-5c3814aee340",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        3860,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "84d2443a-9263-442e-8dc6-5fe9713185d6",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4060,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.celulares[0] }}\n",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "dfe42844-02de-4b16-a8c7-311065667bb1",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1740,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b5956adb-be5c-4b63-b2b1-42968072513e",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1740,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "27014611-0263-49ab-865e-41b3e10f625c",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1740,
        720
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"celulares\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a78a7344-6be4-4e84-a9f0-d9fd95ee401c",
      "name": "Valores4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1980,
        260
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "053b9e52-89f2-49d9-90ac-2f011e9b4b6c",
      "name": "buscar pacientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1500,
        280
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"celulares\"][1]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d14f39b6-5fdf-4f32-9243-48e21058e776",
      "name": "Valores5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1980,
        420
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes').item.json.content.telefones[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e09530cf-3929-4a28-8cd9-bae449dffee9",
      "name": "Valores6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1980,
        580
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes').item.json.content.telefones[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f7fb0fc-c960-453d-a996-a496aba75240",
      "name": "Valores7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1980,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.appended_Responsavel[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "82f2147b-d695-4ab3-85f1-7fcedf61c105",
      "name": "responsavel cadastrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3000,
        280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.appended_Responsavel[0] }}"
            },
            {
              "name": "procedimento",
              "value": "={{ $json.concatenated_procedimento }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            },
            {
              "name": "Nome Crianca",
              "value": "={{ $json.appended_nome[0].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b2f9b53-7882-4a99-a3f0-7e885fcd8629",
      "name": "Valores8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3280,
        200
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "=Responsável"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            },
            {
              "name": "Nome Crianca",
              "value": "={{ $json.appended_nome[0].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a747149c-6bb0-42a5-99d6-dbeb03dd6914",
      "name": "Valores9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3280,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_id.toString() }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "3814a334-e787-4d31-9c60-0ddd9797e33f",
      "name": "Atendido",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1240,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência\"].json[\"id\"] }}/custom_fields/------/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 POR VEZ111').item.json[\"Nome Crianca\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3cb65c8a-961b-43bd-bc96-31c5fed1e44d",
      "name": "Salvar nome crianca",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4500,
        280
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18",
          "name": "ClickBot - BrinCare"
        }
      },
      "disabled": true,
      "continueOnFail": true
    }
  ],
  "pinData": {
    "formatando": [
      {
        "json": {
          "timestamp": "2023-09-19T12:52:17.925-03:00",
          "Readable date": "September 19th 2023, 12:52:17 pm",
          "Readable time": "12:52:17 pm",
          "Day of week": "Tuesday",
          "Year": "2023",
          "Month": "September",
          "Day of month": "19",
          "Hour": "12",
          "Minute": "52",
          "Second": "17",
          "Timezone": "-03 -03:00",
          "data-pesquisa": "18-09-2023"
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "15"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-09-18T10:45:17.940Z",
      "updatedAt": "2023-09-18T10:45:17.940Z",
      "id": "3",
      "name": "BrinCare"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-09-19T16:32:23.000Z",
  "versionId": "1bd8ac4c-8630-4e89-b56c-59fb60fd4676"
}