workflows/Fabiolas - Consultar no feegow e Enviar Lembretes.json
{
  "active": true,
  "connections": {
    "foi atendido?": {
      "main": [
        [
          {
            "node": "buscar pacientes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo implante hormonal": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando nome médica": {
      "main": [
        [
          {
            "node": "salvando hora agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando hora agendamento": {
      "main": [
        [
          {
            "node": "salvando procedimento agendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando procedimento agendado": {
      "main": [
        [
          {
            "node": "salvando DATA procedimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "tag fabiola ribeiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tag fabiola leite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag fabiola ribeiro": {
      "main": [
        [
          {
            "node": "enviar fluxo confirmação de agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag fabiola leite": {
      "main": [
        [
          {
            "node": "enviar fluxo confirmação de agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo confirmação de agendamento": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lembrete 30 dias depois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "formatando5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "laser intimo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "estetica/cirurgia intima1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1 por vez7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1 por vez7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "laser intimo1": {
      "main": [
        [
          {
            "node": "enviar fluxo laser íntimo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estetica/cirurgia intima1": {
      "main": [
        [
          {
            "node": "enviar fluxo estética/cirurgia íntima1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo laser íntimo1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo estética/cirurgia íntima1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "1 por vez7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando DATA procedimento": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É IMPLANTE HORMONAL?1": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos": {
      "main": [
        [
          {
            "node": "separa agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes1": {
      "main": [
        [
          {
            "node": "BUSCAR PROCEDIMENTO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR PROCEDIMENTO2": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcado - não confirmado1": {
      "main": [
        [
          {
            "node": "buscar pacientes1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscar pacientes7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR1": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Valores Planilha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores Planilha2": {
      "main": [
        [
          {
            "node": "1 por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hoje é sexta?": {
      "main": [
        [
          {
            "node": "somando 3 dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "somando 1 dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "somando 1 dia": {
      "main": [
        [
          {
            "node": "formatando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "somando 3 dias": {
      "main": [
        [
          {
            "node": "formatando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores2": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores3": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "hoje é domingo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Valores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência1": {
      "main": [
        [
          {
            "node": "salvando nome médica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Valores1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Valores2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "Valores3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Marcado - não confirmado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez": {
      "main": [
        [
          {
            "node": "Validar Telefone BR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos1": {
      "main": [
        [
          {
            "node": "separa agendamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes2": {
      "main": [
        [
          {
            "node": "BUSCAR PROCEDIMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR PROCEDIMENTO": {
      "main": [
        [
          {
            "node": "É IMPLANTE HORMONAL?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Valores8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores4": {
      "main": [
        [
          {
            "node": "possui telefone?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos1": {
      "main": [
        [
          {
            "node": "IF10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores5": {
      "main": [
        [
          {
            "node": "possui telefone?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores6": {
      "main": [
        [
          {
            "node": "possui telefone?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores7": {
      "main": [
        [
          {
            "node": "possui telefone?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "Valores4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "Valores5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF8": {
      "main": [
        [
          {
            "node": "Valores6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF9": {
      "main": [
        [
          {
            "node": "Valores7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF10": {
      "main": [
        [
          {
            "node": "foi atendido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez2": {
      "main": [
        [
          {
            "node": "Validar Telefone BR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculando 30 dias": {
      "main": [
        [
          {
            "node": "formatando1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando1": {
      "main": [
        [
          {
            "node": "Listar Agendamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 30 dias depois": {
      "main": [
        [
          {
            "node": "calculando 30 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores8": {
      "main": [
        [
          {
            "node": "1 por vez2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "enviar fluxo implante hormonal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "1 por vez2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 150 dias depois": {
      "main": [
        [
          {
            "node": "calculando 150 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foi atendido?1": {
      "main": [
        [
          {
            "node": "buscar pacientes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É IMPLANTE HORMONAL?3": {
      "main": [
        [
          {
            "node": "IF11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos2": {
      "main": [
        [
          {
            "node": "separa agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes3": {
      "main": [
        [
          {
            "node": "BUSCAR PROCEDIMENTO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR PROCEDIMENTO1": {
      "main": [
        [
          {
            "node": "É IMPLANTE HORMONAL?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR2": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?2": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "Valores13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores9": {
      "main": [
        [
          {
            "node": "possui telefone?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos2": {
      "main": [
        [
          {
            "node": "IF15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores10": {
      "main": [
        [
          {
            "node": "possui telefone?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores11": {
      "main": [
        [
          {
            "node": "possui telefone?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores12": {
      "main": [
        [
          {
            "node": "possui telefone?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF11": {
      "main": [
        [
          {
            "node": "Valores9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF12": {
      "main": [
        [
          {
            "node": "Valores10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF13": {
      "main": [
        [
          {
            "node": "Valores11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF14": {
      "main": [
        [
          {
            "node": "Valores12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF15": {
      "main": [
        [
          {
            "node": "foi atendido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez3": {
      "main": [
        [
          {
            "node": "Validar Telefone BR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando2": {
      "main": [
        [
          {
            "node": "Listar Agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores13": {
      "main": [
        [
          {
            "node": "1 por vez3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculando 150 dias": {
      "main": [
        [
          {
            "node": "formatando2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo implante hormonal1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência2": {
      "main": [
        [
          {
            "node": "enviar fluxo implante hormonal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "1 por vez3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliação 1 dia depois": {
      "main": [
        [
          {
            "node": "calculando 1 dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foi atendido?2": {
      "main": [
        [
          {
            "node": "buscar pacientes4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É IMPLANTE HORMONAL?4": {
      "main": [
        [
          {
            "node": "IF16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos3": {
      "main": [
        [
          {
            "node": "separa agendamentos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes4": {
      "main": [
        [
          {
            "node": "BUSCAR PROCEDIMENTO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR PROCEDIMENTO3": {
      "main": [
        [
          {
            "node": "É IMPLANTE HORMONAL?4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência3": {
      "main": [
        [
          {
            "node": "enviar fluxo IMPLANTE HORMONAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR3": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?3": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "Valores18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores14": {
      "main": [
        [
          {
            "node": "possui telefone?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos3": {
      "main": [
        [
          {
            "node": "IF20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores15": {
      "main": [
        [
          {
            "node": "possui telefone?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores16": {
      "main": [
        [
          {
            "node": "possui telefone?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores17": {
      "main": [
        [
          {
            "node": "possui telefone?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF16": {
      "main": [
        [
          {
            "node": "Valores14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF17": {
      "main": [
        [
          {
            "node": "Valores15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF18": {
      "main": [
        [
          {
            "node": "Valores16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF19": {
      "main": [
        [
          {
            "node": "Valores17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF20": {
      "main": [
        [
          {
            "node": "foi atendido?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez4": {
      "main": [
        [
          {
            "node": "Validar Telefone BR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando3": {
      "main": [
        [
          {
            "node": "Listar Agendamentos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores18": {
      "main": [
        [
          {
            "node": "1 por vez4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "1 por vez4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculando 1 dia": {
      "main": [
        [
          {
            "node": "formatando3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência4": {
      "main": [
        [
          {
            "node": "enviar fluxo avaliação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR4": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?4": {
      "main": [
        [
          {
            "node": "Item Lists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists4": {
      "main": [
        [
          {
            "node": "Valores23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores19": {
      "main": [
        [
          {
            "node": "possui telefone?4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores20": {
      "main": [
        [
          {
            "node": "possui telefone?4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores21": {
      "main": [
        [
          {
            "node": "possui telefone?4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores22": {
      "main": [
        [
          {
            "node": "possui telefone?4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF21": {
      "main": [
        [
          {
            "node": "Valores19",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF22": {
      "main": [
        [
          {
            "node": "Valores20",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF23": {
      "main": [
        [
          {
            "node": "Valores21",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF24": {
      "main": [
        [
          {
            "node": "Valores22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez5": {
      "main": [
        [
          {
            "node": "Validar Telefone BR4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores23": {
      "main": [
        [
          {
            "node": "1 por vez5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "1 por vez5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo IMPLANTE HORMONAL": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo avaliação": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos4": {
      "main": [
        [
          {
            "node": "separa agendamentos4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes5": {
      "main": [
        [
          {
            "node": "BUSCAR PROCEDIMENTO4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR PROCEDIMENTO4": {
      "main": [
        [
          {
            "node": "é laser?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência5": {
      "main": [
        [
          {
            "node": "enviar fluxo laser íntimo 3 dias antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR5": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?5": {
      "main": [
        [
          {
            "node": "Item Lists5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists5": {
      "main": [
        [
          {
            "node": "Valores28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores24": {
      "main": [
        [
          {
            "node": "possui telefone?5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos4": {
      "main": [
        [
          {
            "node": "IF29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores25": {
      "main": [
        [
          {
            "node": "possui telefone?5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores26": {
      "main": [
        [
          {
            "node": "possui telefone?5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores27": {
      "main": [
        [
          {
            "node": "possui telefone?5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF25": {
      "main": [
        [
          {
            "node": "Valores24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF26": {
      "main": [
        [
          {
            "node": "Valores25",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF27": {
      "main": [
        [
          {
            "node": "Valores26",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF28": {
      "main": [
        [
          {
            "node": "Valores27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF29": {
      "main": [
        [
          {
            "node": "buscar pacientes5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez6": {
      "main": [
        [
          {
            "node": "Validar Telefone BR5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando4": {
      "main": [
        [
          {
            "node": "Listar Agendamentos4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores28": {
      "main": [
        [
          {
            "node": "1 por vez6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "1 por vez6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 dias antes": {
      "main": [
        [
          {
            "node": "calculando 3 dias antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculando 3 dias antes": {
      "main": [
        [
          {
            "node": "formatando4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é laser?": {
      "main": [
        [
          {
            "node": "IF25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo laser íntimo 3 dias antes": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foi atendido?3": {
      "main": [
        [
          {
            "node": "buscar pacientes6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos5": {
      "main": [
        [
          {
            "node": "separa agendamentos5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes6": {
      "main": [
        [
          {
            "node": "BUSCAR PROCEDIMENTO5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR PROCEDIMENTO5": {
      "main": [
        [
          {
            "node": "IF30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência6": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR6": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?6": {
      "main": [
        [
          {
            "node": "Item Lists6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists6": {
      "main": [
        [
          {
            "node": "Valores33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores29": {
      "main": [
        [
          {
            "node": "Valores34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos5": {
      "main": [
        [
          {
            "node": "IF34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores30": {
      "main": [
        [
          {
            "node": "Valores34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores31": {
      "main": [
        [
          {
            "node": "Valores34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores32": {
      "main": [
        [
          {
            "node": "Valores34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF30": {
      "main": [
        [
          {
            "node": "Valores29",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF31": {
      "main": [
        [
          {
            "node": "Valores30",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF32": {
      "main": [
        [
          {
            "node": "Valores31",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF33": {
      "main": [
        [
          {
            "node": "Valores32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF34": {
      "main": [
        [
          {
            "node": "foi atendido?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez7": {
      "main": [
        [
          {
            "node": "Validar Telefone BR6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando5": {
      "main": [
        [
          {
            "node": "Listar Agendamentos5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores33": {
      "main": [
        [
          {
            "node": "1 por vez7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores34": {
      "main": [
        [
          {
            "node": "possui telefone?6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "1 por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Lembrete 150 dias depois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger4": {
      "main": [
        [
          {
            "node": "Avaliação 1 dia depois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger5": {
      "main": [
        [
          {
            "node": "3 dias antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hoje é domingo?": {
      "main": [
        [],
        [
          {
            "node": "hoje é sexta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes7": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-27T04:44:49.831Z",
  "id": "16",
  "name": "Fabiolas - Consultar no feegow e Enviar Lembretes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "d375242e-232f-43a7-92a7-5f1f1a7cf54f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2640,
        480
      ]
    },
    {
      "parameters": {},
      "id": "24d6269c-932f-4cac-a790-42bdc5c25ae9",
      "name": "Lembrete 30 dias depois",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2360,
        480
      ]
    },
    {
      "parameters": {},
      "id": "fd821c15-54a4-4f8c-8100-c42eab4db164",
      "name": "Lembrete 150 dias depois",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2360,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status_id\"].toString() }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "24ba8c81-558d-4986-aaaf-a740d98896c3",
      "name": "foi atendido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -920,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "890681"
            }
          ]
        },
        "options": {}
      },
      "id": "77bdc40c-4146-48bf-a673-4155d9beae5e",
      "name": "enviar fluxo implante hormonal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2060,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "890725"
            }
          ]
        },
        "options": {}
      },
      "id": "bf93ce4a-f11e-41b0-ad8f-128a064bd66f",
      "name": "enviar fluxo implante hormonal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2060,
        1100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/custom_fields/521316/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 por vez').item.json[\"medica\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbadb4eb-100c-4811-862c-2a0e2ac891b7",
      "name": "salvando nome médica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2340,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/custom_fields/521315/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 por vez').item.json[\"horario\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "764ccb1f-f4ce-408b-96f6-206f57e7fb15",
      "name": "salvando hora agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2560,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/custom_fields/521328/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 por vez').item.json[\"procedimento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "06028f06-fccb-42b5-a05d-a39ada68cb5e",
      "name": "salvando procedimento agendado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2780,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('1 por vez').item.json[\"medica\"] }}",
              "value2": "Fabiola Ribeiro"
            }
          ]
        }
      },
      "id": "80f5113e-24e6-45c2-86b0-9b052e449a1d",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3200,
        -840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/tags/1407115/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "9e1d3907-6331-4bf0-89d6-747841f57aa9",
      "name": "tag fabiola ribeiro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3420,
        -940
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/tags/1407118/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d3199df6-0a46-4221-a4a4-d869dbfa9c02",
      "name": "tag fabiola leite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3420,
        -760
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "890289"
            }
          ]
        },
        "options": {}
      },
      "id": "3aebdd86-973e-41ad-9fff-d8da3d405c77",
      "name": "enviar fluxo confirmação de agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3700,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {},
      "id": "265931f0-54c0-443e-9416-84a85fa04fd1",
      "name": "Avaliação 1 dia depois",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2360,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "889483"
            }
          ]
        },
        "options": {}
      },
      "id": "9ef0d92d-ad11-4b22-a4d3-100c8e7be5e3",
      "name": "enviar fluxo avaliação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2060,
        2340
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "890611"
            }
          ]
        },
        "options": {}
      },
      "id": "8a6d4cee-18f5-4741-a568-988ff6afc694",
      "name": "enviar fluxo IMPLANTE HORMONAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2060,
        1720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "a3f0f27a-d311-4f46-8c82-776e26db1cbd",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2700,
        -2260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "794271"
            }
          ]
        },
        "options": {}
      },
      "id": "b149e952-2ed9-41fb-ab97-57a33823cffd",
      "name": "enviar fluxo laser íntimo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1860,
        -2320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('1 por vez7').item.json[\"procedimento\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "Laser Fotona Íntimo"
            },
            {
              "value2": "Cirurgia Íntima",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "32e95cc1-0158-4324-b3cf-127994019df0",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1380,
        -2260
      ]
    },
    {
      "parameters": {},
      "id": "e5bba2c6-2007-434d-ae22-40b744731f10",
      "name": "laser intimo1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        -2320
      ]
    },
    {
      "parameters": {},
      "id": "2846c9f8-772f-4c71-8429-eac998de8e53",
      "name": "estetica/cirurgia intima1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        -2140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "891168"
            }
          ]
        },
        "options": {}
      },
      "id": "c38025cb-c268-4ae1-b970-f94422a3fd5d",
      "name": "enviar fluxo estética/cirurgia íntima1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1860,
        -2140
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "29e007ed-3bd7-4e48-b972-463133eb9d8a",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2180,
        -2220
      ],
      "webhookId": "6fd3cb49-ced0-4bbf-9ab7-402b60d3924a"
    },
    {
      "parameters": {},
      "id": "ecfdc4a8-d4ec-432e-a378-51f3c9c1787d",
      "name": "3 dias antes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2360,
        2980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "790956"
            }
          ]
        },
        "options": {}
      },
      "id": "263bdb89-a425-47a5-bee5-dd0c0efa9512",
      "name": "enviar fluxo laser íntimo 3 dias antes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2060,
        2980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/custom_fields/569261/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 por vez').item.json[\"data\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "366cc23b-dcd7-44e8-8d36-14d45dc9ad46",
      "name": "salvando DATA procedimento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3000,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('BUSCAR PROCEDIMENTO').item.json[\"content\"][0][\"nome\"] }}",
              "value2": "Implante Hormonal I"
            }
          ]
        }
      },
      "id": "73a11413-1cb8-4ced-8dbe-b1c7384264ee",
      "name": "É IMPLANTE HORMONAL?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"content\"][0][\"nome\"] }}",
              "value2": "Laser Fotona Íntimo"
            }
          ]
        }
      },
      "id": "a359f63e-9488-4692-9980-c1fd7ac1950c",
      "name": "é laser?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        2980
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-amanha\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-amanha\"] }}"
            }
          ]
        }
      },
      "id": "5d6adc43-808e-4868-8b12-19e573de401f",
      "name": "Listar Agendamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1600,
        -820
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "d0ef1c0d-a376-4bd5-a2f6-a08e169cdebe",
      "name": "buscar pacientes1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -620,
        -820
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/procedures/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "procedimento_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"procedimento_id\"] }}"
            }
          ]
        }
      },
      "id": "fae71dab-ecc0-4e4b-b551-9c06866587c0",
      "name": "BUSCAR PROCEDIMENTO2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -360,
        -820
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_id.toString() }}",
              "value2": "1"
            }
          ]
        }
      },
      "id": "29434ac8-db00-4615-a049-e13757a6603a",
      "name": "Marcado - não confirmado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -860,
        -820
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 por vez\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"1 por vez\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"1 por vez\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"1 por vez\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"1 por vez\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"1 por vez\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2080,
        -840
      ],
      "id": "4fbfb8a1-9cfc-4662-b0d8-2c5d3b04504d",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR1",
      "type": "n8n-nodes-base.function",
      "position": [
        1840,
        -840
      ],
      "typeVersion": 1,
      "id": "1447e9de-97ff-406a-b41b-f00538e25b41",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/custom_fields/854414/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $node[\"1 por vez\"].json[\"agendamento_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "21c974f8-3aa7-4ad8-9c82-768b33a64c5f",
      "name": "Atualizar ID do Agendamento no BC1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1180,
        -460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "14",
          "name": "BotConversa Dra Simone"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c59be0b3-6c54-43fa-828b-ced1f0c896ea",
      "name": "possui telefone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        -820
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "procedimento",
              "separateBy": ", "
            },
            {
              "aggregation": "concatenate",
              "field": "agendamento_id"
            },
            {
              "aggregation": "append",
              "field": "data"
            },
            {
              "aggregation": "append",
              "field": "horario"
            },
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            },
            {
              "aggregation": "append",
              "field": "nome medica"
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "3f41c076-25b9-45fd-b681-895a3dce8d98",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1180,
        -820
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{ $json.concatenated_agendamento_id.toString() }}"
            },
            {
              "name": "data",
              "value": "={{ $json.appended_data[0].toString() }}"
            },
            {
              "name": "horario",
              "value": "={{ $json.appended_horario[0].toString() }}"
            },
            {
              "name": "nome",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "procedimento",
              "value": "={{ $json.concatenated_procedimento }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            },
            {
              "name": "medica",
              "value": "={{ $json.appended_nome_medica[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "012d5a9a-3d01-4b22-a642-162ca859d755",
      "name": "Valores Planilha2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        -820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Day of week\"] }}",
              "value2": "Friday"
            }
          ]
        }
      },
      "id": "4b8052ac-55bb-4f99-a8bd-6a5b1e4287aa",
      "name": "hoje é sexta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2340,
        -820
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"data-amanha\"] }}",
        "dataPropertyName": "data-amanha",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {
          "fromTimezone": "America/Sao_Paulo"
        }
      },
      "id": "01b05d79-39f6-44e2-b391-767425a5dfec",
      "name": "formatando",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1820,
        -820
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "duration": 1,
        "dataPropertyName": "data-amanha",
        "options": {}
      },
      "id": "f74191c7-e1a9-4d1f-8d6d-fada05b6274e",
      "name": "somando 1 dia",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2080,
        -740
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "duration": 3,
        "dataPropertyName": "data-amanha",
        "options": {}
      },
      "id": "6f1d5db7-e0ff-4da1-87d1-1dbbaa8ab661",
      "name": "somando 3 dias",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2080,
        -900
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"agendamento_id\"] }}"
            },
            {
              "name": "data",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO2\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"celulares\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f9c4a9b9-eb64-475e-9f88-1bcc675fe4aa",
      "name": "Valores",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        -840
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "9428b421-5352-4eeb-90f6-08f2261c6b5a",
      "name": "separa agendamentos",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1380,
        -820
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/list",
        "options": {}
      },
      "id": "98311310-652a-4299-9e5d-d52438ac39f1",
      "name": "buscar pacientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        940,
        -460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "13",
          "name": "Feegow Dra Simone"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO2\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"celulares\"][1]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "83a5e028-5fb3-4675-a803-cb5f1fce82a5",
      "name": "Valores1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        -640
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO2\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes1').item.json.content.telefones[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "015a72d5-97b6-4d32-af1b-e7eb8612d64c",
      "name": "Valores2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        -440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status1\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status1\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status1\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status1\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO2\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status1\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes1').item.json.content.telefones[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0557057-ba0e-460b-b78a-17001c32d045",
      "name": "Valores3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        -240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "062b5732-b53e-4a1e-8ee8-a2155937d20d",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2820,
        -820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes1').item.json.content.celulares[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "4ca203ca-ce7d-4dfc-ad07-4969a6792ed4",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes1').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e5e1e1f3-63d3-4563-a1de-767597d615a4",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes1').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "84a061d0-5db4-4b16-af0d-c13abfdf0812",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -420
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "5d2889a0-867b-4929-b43c-33e86087320b",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3960,
        -840
      ],
      "webhookId": "c22b43ee-cbea-4131-8525-39264a397d75"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes1').item.json.content.telefones[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "15b9f76e-1446-4819-bbf6-3d237bf8b7e0",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('separa agendamentos').item.json[\"profissional_id\"].toString() }}",
              "value2": "9"
            },
            {
              "value1": "={{ $('separa agendamentos').item.json[\"profissional_id\"].toString() }}",
              "value2": "10"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "d755762c-9217-4668-8a95-d05a3da3267d",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1140,
        -820
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome medica",
              "value": "={{ $('Marcado - não confirmado1').item.json[\"profissional_id\"].toString().replace(\"9\",\"Fabiola Ribeiro\").replace(\"10\",\"Fabiola Leite\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6cd40326-af44-4c1e-8857-c991df87137d",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        660,
        -820
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "fb4b9d29-9115-4a1a-b206-1891e6dd75ff",
      "name": "1 por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1600,
        -820
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-busca\"] }}"
            }
          ]
        }
      },
      "id": "a79c704d-e501-4d65-ae0f-30771bcb718f",
      "name": "Listar Agendamentos1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1600,
        480
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "51cf6eaa-09dd-42ad-9e33-c46f2ab79b87",
      "name": "buscar pacientes2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -700,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/procedures/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "procedimento_id",
              "value": "={{ $('foi atendido?').item.json[\"procedimento_id\"] }}"
            }
          ]
        }
      },
      "id": "0decf939-1664-49f5-8d81-2f450cad36aa",
      "name": "BUSCAR PROCEDIMENTO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -440,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 por vez2\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"1 por vez2\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"1 por vez2\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"1 por vez2\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"1 por vez2\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"1 por vez2\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1840,
        480
      ],
      "id": "4fe59d32-41cc-419e-9fcf-697288d581b7",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR",
      "type": "n8n-nodes-base.function",
      "position": [
        1600,
        480
      ],
      "typeVersion": 1,
      "id": "d08ad52c-8ac6-4d09-8742-96f9ca223c07",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6b3c996e-a112-4e99-8bce-b251dd33f65d",
      "name": "possui telefone?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "e1608f91-5291-4533-8d78-ee3dfa4700cc",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        920,
        480
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes2\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes2\"].json[\"content\"][\"celulares\"][0]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes2').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "76ff9803-1b58-4e47-801f-50ecb15390f3",
      "name": "Valores4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "7583f0ac-64f9-4acd-b20f-ce655bb0410e",
      "name": "separa agendamentos1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1380,
        480
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes2\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes2\"].json[\"content\"][\"celulares\"][1]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes2').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b740e45-8bfc-4589-acf6-f335d69b3d8c",
      "name": "Valores5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes2\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes2').item.json.content.telefones[0] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes2').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a628df16-3eb5-4bcf-b996-afeab4c07040",
      "name": "Valores6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes2\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes2').item.json.content.telefones[1] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes2').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec98ccde-fc6c-45b4-aba8-273ae846609e",
      "name": "Valores7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes2').item.json.content.celulares[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "cd3c0890-5a68-4bdd-825b-650b6bf6a6ee",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes2').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "62dd3c39-d3c6-496a-9478-16e74701cae2",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes2').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "fdfacf37-3702-4ed7-b411-65a8f5aa0680",
      "name": "IF8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes2').item.json.content.telefones[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b74ed3b5-72d2-4174-a72a-b0ef7b82edef",
      "name": "IF9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('separa agendamentos1').item.json[\"profissional_id\"].toString() }}",
              "value2": "9"
            },
            {
              "value1": "={{ $('separa agendamentos1').item.json[\"profissional_id\"].toString() }}",
              "value2": "10"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "56db2019-09e4-4371-9989-e77b13c02db8",
      "name": "IF10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1140,
        480
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "2a6564a3-82db-4718-888f-9ec748c91732",
      "name": "1 por vez2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1360,
        480
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"data-busca\"] }}",
        "dataPropertyName": "data-amanha",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {
          "fromTimezone": "America/Sao_Paulo"
        }
      },
      "id": "0ff6e102-6ad4-46c7-b9a7-831d7c42bd71",
      "name": "formatando1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1840,
        480
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "operation": "subtract",
        "duration": 30,
        "dataPropertyName": "data-busca",
        "options": {}
      },
      "id": "44875cea-c91a-4e8f-b3d7-d684dda704a8",
      "name": "calculando 30 dias",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2100,
        480
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9ec1078f-0acd-4bfe-8f3a-407232078fa7",
      "name": "Valores8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "2e914d4f-8896-4900-8fed-c27a9d5bff66",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2280,
        480
      ],
      "webhookId": "eebba2f5-47a1-475f-beab-b6ad41cdb608"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "operation": "subtract",
        "duration": 150,
        "dataPropertyName": "data-busca",
        "options": {}
      },
      "id": "20d789d9-15be-4a7c-94ea-c91c6583b39b",
      "name": "calculando 150 dias",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2100,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status_id\"].toString() }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "084ec084-0ace-48b0-b255-5ac9d7aee6a9",
      "name": "foi atendido?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -920,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('BUSCAR PROCEDIMENTO1').item.json[\"content\"][0][\"nome\"] }}",
              "value2": "Implante Hormonal I"
            }
          ]
        }
      },
      "id": "f9486aec-86cd-48f0-bbbb-58e081df1677",
      "name": "É IMPLANTE HORMONAL?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        1100
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-busca\"] }}"
            }
          ]
        }
      },
      "id": "b836bd49-be8d-4c76-9734-965839b1a841",
      "name": "Listar Agendamentos2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1600,
        1100
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "14344aa2-296e-4b68-88dc-d3d37dd2ddb0",
      "name": "buscar pacientes3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -700,
        1100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/procedures/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "procedimento_id",
              "value": "={{ $('foi atendido?1').item.json[\"procedimento_id\"] }}"
            }
          ]
        }
      },
      "id": "83975c12-b735-4312-98bb-c271e9922448",
      "name": "BUSCAR PROCEDIMENTO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -440,
        1100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 por vez3\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"1 por vez3\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"1 por vez3\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"1 por vez3\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"1 por vez3\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"1 por vez3\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1840,
        1100
      ],
      "id": "a955277c-7509-49ed-a2d6-09e51e661d30",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR2",
      "type": "n8n-nodes-base.function",
      "position": [
        1600,
        1100
      ],
      "typeVersion": 1,
      "id": "2571d88b-188c-4726-97c8-8984c395575b",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "9eac7f6e-b2b9-4436-914f-7f5d60f64153",
      "name": "possui telefone?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "ad74bfb4-0b4d-44cc-a47f-57e98a9ccedd",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        920,
        1100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes3\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes3\"].json[\"content\"][\"celulares\"][0]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes3').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f3a2d15e-acec-471b-8839-5b113809f17a",
      "name": "Valores9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        1080
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "95b369f2-9e3b-4023-b9d3-ad31d367eab6",
      "name": "separa agendamentos2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1380,
        1100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes3\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes3\"].json[\"content\"][\"celulares\"][1]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes3').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd074ca4-ddb9-46fa-b5f9-203332b590c3",
      "name": "Valores10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        1220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes3\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes3').item.json.content.telefones[0] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes3').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "454612f5-d2b5-4429-9a05-d6219172b1ca",
      "name": "Valores11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        1360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes3\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes3').item.json.content.telefones[1] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes3').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "545bf000-9e6d-4213-9f84-787b7bb8fcdd",
      "name": "Valores12",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        1500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes3').item.json.content.celulares[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "0666bed7-ff54-4931-a655-fc4c62874227",
      "name": "IF11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes3').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1b16429a-68b7-4955-a0bb-7ef52d61b4fa",
      "name": "IF12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        1240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes3').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "751a882e-f41e-4025-bb90-5690b1f6ddab",
      "name": "IF13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes3').item.json.content.telefones[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "cc5540c1-5bf3-486f-8684-3492a0376eae",
      "name": "IF14",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        1520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('separa agendamentos2').item.json[\"profissional_id\"].toString() }}",
              "value2": "9"
            },
            {
              "value1": "={{ $('separa agendamentos2').item.json[\"profissional_id\"].toString() }}",
              "value2": "10"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2ad696be-898c-4847-aca9-e6ac29f1d541",
      "name": "IF15",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1140,
        1100
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "edea144e-00f6-4ec0-93b0-d90941cb5d89",
      "name": "1 por vez3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1360,
        1100
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"data-busca\"] }}",
        "dataPropertyName": "data-amanha",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {
          "fromTimezone": "America/Sao_Paulo"
        }
      },
      "id": "025f4113-4a57-499f-8abe-84a5a7ae5f9a",
      "name": "formatando2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1840,
        1100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf2f9217-e22c-4f8d-b4b6-3063790f4b45",
      "name": "Valores13",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1140,
        1100
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "4e0ebaed-b988-4b63-b49a-e3824126d2cc",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2280,
        1100
      ],
      "webhookId": "e0d40425-7fb0-4fe6-a339-b735aa54e45b"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "operation": "subtract",
        "duration": 1,
        "dataPropertyName": "data-busca",
        "options": {}
      },
      "id": "60bfba34-e935-4d23-8cb3-6c5b2047af26",
      "name": "calculando 1 dia",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2100,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status_id\"].toString() }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "0146a44d-e697-4703-9c73-e338d41b7b12",
      "name": "foi atendido?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -920,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('BUSCAR PROCEDIMENTO3').item.json[\"content\"][0][\"nome\"] }}",
              "value2": "Implante Hormonal I"
            }
          ]
        }
      },
      "id": "97fecf72-e01b-4e12-bf3e-d8e4e794055d",
      "name": "É IMPLANTE HORMONAL?4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        1720
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-busca\"] }}"
            }
          ]
        }
      },
      "id": "b2c25341-9589-4351-adfa-4e1b133a2c05",
      "name": "Listar Agendamentos3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1600,
        1720
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "9be2ae30-6901-4c8b-8744-7ccc68df82aa",
      "name": "buscar pacientes4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -700,
        1720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/procedures/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "procedimento_id",
              "value": "={{ $('foi atendido?2').item.json[\"procedimento_id\"] }}"
            }
          ]
        }
      },
      "id": "4f6358cb-d913-4a4f-8711-123d0c4265f3",
      "name": "BUSCAR PROCEDIMENTO3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -440,
        1720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 por vez4\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"1 por vez4\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"1 por vez4\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"1 por vez4\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"1 por vez4\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"1 por vez4\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1840,
        1720
      ],
      "id": "07c30cc0-d395-437e-9417-0d0743616fde",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR3",
      "type": "n8n-nodes-base.function",
      "position": [
        1600,
        1720
      ],
      "typeVersion": 1,
      "id": "573b9e4b-3dbd-4b6c-94bf-b627c9acc1bc",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "0457dadc-b5d5-488f-af85-49275ef1f5dc",
      "name": "possui telefone?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        1740
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "d87d6ec6-65ba-4e2a-a62f-95131a9b01eb",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        920,
        1720
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"celulares\"][0]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes4').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "87f5134d-eadf-4f4d-9510-fe2efc7aae72",
      "name": "Valores14",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        1700
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "36ee9029-dda7-4c82-854a-8be91cd68cbf",
      "name": "separa agendamentos3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1380,
        1720
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"celulares\"][1]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes4').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ca8cfc88-3831-45d6-9ebf-1c8ee7992267",
      "name": "Valores15",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        1840
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes4').item.json.content.telefones[0] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes4').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "27c3f7b7-abf6-4247-ae2c-6a47bbc5f0c8",
      "name": "Valores16",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        1980
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes4').item.json.content.telefones[1] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes4').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e127f083-81a5-4b60-9b73-679e29598f1e",
      "name": "Valores17",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        2120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes4').item.json.content.celulares[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a728825d-7f98-4e3a-8b57-32d43c7b92d2",
      "name": "IF16",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes4').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "18e973ee-9a23-45dd-bc1a-83cdea3885ef",
      "name": "IF17",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        1860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes4').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "43c8a5c8-65b1-4447-8737-6696bfada4ef",
      "name": "IF18",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        2000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes4').item.json.content.telefones[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "715cccfc-e2e3-4268-9cbb-d14d34e76154",
      "name": "IF19",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        2140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('separa agendamentos3').item.json[\"profissional_id\"].toString() }}",
              "value2": "9"
            },
            {
              "value1": "={{ $('separa agendamentos3').item.json[\"profissional_id\"].toString() }}",
              "value2": "10"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "8dd00fcf-c54a-45b9-a2f6-dedfe4f9f87c",
      "name": "IF20",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1140,
        1720
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e0d803c7-fa01-4c08-a1ae-01aace4bf43c",
      "name": "1 por vez4",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1360,
        1720
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"data-busca\"] }}",
        "dataPropertyName": "data-amanha",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {
          "fromTimezone": "America/Sao_Paulo"
        }
      },
      "id": "fc511e2b-a408-4d09-b2e4-0a559c248f8a",
      "name": "formatando3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1840,
        1720
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f71f94b5-47e0-4441-b1e2-538bfb136b28",
      "name": "Valores18",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1140,
        1720
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "d3164b9b-9fce-4640-8e52-cfbb1f5a5282",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2280,
        1720
      ],
      "webhookId": "e0d40425-7fb0-4fe6-a339-b735aa54e45b"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 por vez5\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"1 por vez5\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"1 por vez5\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"1 por vez5\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"1 por vez5\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"1 por vez5\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1840,
        2340
      ],
      "id": "f6af8308-94d8-4a06-82fc-8cc54bf81a16",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR4",
      "type": "n8n-nodes-base.function",
      "position": [
        1600,
        2340
      ],
      "typeVersion": 1,
      "id": "fe37272a-5c4e-4320-8971-f7d4ea810ebb",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "dc9890e0-3eb8-465e-b1ac-9ed61f3ce92e",
      "name": "possui telefone?4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        2360
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "15ed94f6-8991-4489-953c-4df23ea426cc",
      "name": "Item Lists4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        920,
        2340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"celulares\"][0]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes4').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55a11932-8cbc-4b7d-b420-00a96536fbb5",
      "name": "Valores19",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        2320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"celulares\"][1]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes4').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d36f39d-d852-4bd8-b415-ca85e38fe4e1",
      "name": "Valores20",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        2460
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes4').item.json.content.telefones[0] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes4').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1ce7632-aff3-4edd-abdd-154de54863cb",
      "name": "Valores21",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        2600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes4\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes4').item.json.content.telefones[1] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes4').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "92278e6a-a129-4fda-a959-29ebcd7d9f51",
      "name": "Valores22",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        2740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes4').item.json.content.celulares[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "77f91f3b-384c-487c-9e53-a6e1724a0492",
      "name": "IF21",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        2340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes4').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "99de1820-e392-4c59-951d-2b579682a21f",
      "name": "IF22",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        2480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes4').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "9861037b-08b9-4d13-aa20-c41ecdb5dbe5",
      "name": "IF23",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        2620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes4').item.json.content.telefones[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a1c2c455-07fd-4a55-b2b7-5bc7869a19a5",
      "name": "IF24",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        2760
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "01c8f3b4-1577-4773-9ac9-e53eb7a4e13e",
      "name": "1 por vez5",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1360,
        2340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f22d58a8-b112-4c44-9886-d01780d16498",
      "name": "Valores23",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1140,
        2340
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "e42f0318-7a3b-48b9-9f63-b84459ed174a",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2280,
        2340
      ],
      "webhookId": "e0d40425-7fb0-4fe6-a339-b735aa54e45b"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-busca\"] }}"
            }
          ]
        }
      },
      "id": "1c6ebbd2-537a-42c2-bdc6-b728451e526d",
      "name": "Listar Agendamentos4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1600,
        2980
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "f8ccba5c-ed5a-41d6-9be0-1e7ec8ff1ddf",
      "name": "buscar pacientes5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -700,
        2980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/procedures/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "procedimento_id",
              "value": "={{ $('IF29').item.json[\"procedimento_id\"] }}"
            }
          ]
        }
      },
      "id": "f347b098-869c-45d6-bf72-dd81bce0422a",
      "name": "BUSCAR PROCEDIMENTO4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -440,
        2980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 por vez6\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"1 por vez6\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"1 por vez6\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"1 por vez6\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"1 por vez6\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"1 por vez6\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1840,
        2980
      ],
      "id": "213fcd2b-8560-48ed-ace5-d96f08042524",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR5",
      "type": "n8n-nodes-base.function",
      "position": [
        1600,
        2980
      ],
      "typeVersion": 1,
      "id": "404d4044-5432-4e08-b7fe-af905343da06",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "00139454-faac-4e3d-8282-f5613d0c5319",
      "name": "possui telefone?5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        3000
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "2ddb6799-7a24-456e-9826-3425daea03ab",
      "name": "Item Lists5",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        920,
        2980
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes5\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes5\"].json[\"content\"][\"celulares\"][0]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes5').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6cb87bcc-2bec-414f-9326-a78781e110eb",
      "name": "Valores24",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        2960
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "452e1b4f-55d7-4764-9a6c-a5d901e9fdd0",
      "name": "separa agendamentos4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1380,
        2980
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes5\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes5\"].json[\"content\"][\"celulares\"][1]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes5').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5dd7f22c-1dc4-47be-a1b3-123517f26b0a",
      "name": "Valores25",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        3100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes5\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes5').item.json.content.telefones[0] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes5').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1af8df0-5879-4288-9aea-f4aed902ff3b",
      "name": "Valores26",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        3240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes5\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes5').item.json.content.telefones[1] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes5').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6f0ea4c-2eda-421d-9df9-cab77909da64",
      "name": "Valores27",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        3380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes5').item.json.content.celulares[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "232f3265-15ff-4940-84c4-4ee556b140db",
      "name": "IF25",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        2980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes5').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b88b10c3-c9fc-4554-9d2c-9ba4c8326a3f",
      "name": "IF26",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        3120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes5').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "00abb4a7-51b3-493d-a3b1-04032447be5f",
      "name": "IF27",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        3260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes5').item.json.content.telefones[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "3c877cb9-821f-4d0a-aae9-01581bca4641",
      "name": "IF28",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        3400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('separa agendamentos4').item.json[\"profissional_id\"].toString() }}",
              "value2": "9"
            },
            {
              "value1": "={{ $('separa agendamentos4').item.json[\"profissional_id\"].toString() }}",
              "value2": "10"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a1c4279a-7db6-4d3e-b72c-3d279f6dab09",
      "name": "IF29",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1140,
        2980
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cdff9836-15f4-479b-a2df-acf3771389c9",
      "name": "1 por vez6",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1360,
        2980
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"data-busca\"] }}",
        "dataPropertyName": "data-amanha",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {
          "fromTimezone": "America/Sao_Paulo"
        }
      },
      "id": "f914d5a3-adc7-4b44-83fc-b18601df4be1",
      "name": "formatando4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1840,
        2980
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7db2a0a9-f495-40a7-935d-76020355a2eb",
      "name": "Valores28",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1140,
        2980
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "04b05d1d-5db1-47a1-b99e-00db02749077",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2280,
        2980
      ],
      "webhookId": "e0d40425-7fb0-4fe6-a339-b735aa54e45b"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "duration": 3,
        "dataPropertyName": "data-busca",
        "options": {}
      },
      "id": "7ea455c8-8fb1-4bfb-908c-77b8affca1c1",
      "name": "calculando 3 dias antes",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2100,
        2980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status_id\"].toString() }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "4ee4bffd-632f-4010-b786-2c9b6a94f462",
      "name": "foi atendido?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1520,
        -2260
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-busca\"] }}"
            }
          ]
        }
      },
      "id": "83cbecb3-0ff7-4a5b-a47a-a3f770fc7250",
      "name": "Listar Agendamentos5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -2200,
        -2260
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "ff639a96-361a-49b3-b14d-b37076336b6c",
      "name": "buscar pacientes6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1300,
        -2260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/procedures/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "procedimento_id",
              "value": "={{ $('foi atendido?3').item.json[\"procedimento_id\"] }}"
            }
          ]
        }
      },
      "id": "47f26bad-6de4-4dec-a880-94593756919e",
      "name": "BUSCAR PROCEDIMENTO5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1040,
        -2260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 por vez7\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"1 por vez7\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"1 por vez7\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"1 por vez7\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"1 por vez7\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"1 por vez7\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1160,
        -2260
      ],
      "id": "328a7787-ae9a-4866-a544-911320ca9a06",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR6",
      "type": "n8n-nodes-base.function",
      "position": [
        920,
        -2260
      ],
      "typeVersion": 1,
      "id": "059f8bbb-c74d-4b4d-8ee1-330a8846e60e",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "635aea8c-5bdd-4bd2-8121-9ef808d30d3c",
      "name": "possui telefone?6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        -2240
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            },
            {
              "aggregation": "append",
              "field": "procedimento"
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "cf45db28-16a7-42be-8855-781123e3bed9",
      "name": "Item Lists6",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        240,
        -2260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes6\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes6\"].json[\"content\"][\"celulares\"][0]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes6').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf39fabf-7303-482b-8660-617bfc08f27c",
      "name": "Valores29",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        -2280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "7bd2fffb-4faf-4059-84fd-3307fea5bb6f",
      "name": "separa agendamentos5",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1980,
        -2260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes6\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes6\"].json[\"content\"][\"celulares\"][1]}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes6').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7110f83a-a3b3-4ff5-b40e-19ff0d7cacaa",
      "name": "Valores30",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        -2140
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes6\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes6').item.json.content.telefones[0] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes6').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14392790-96c3-46bc-995e-87bd784694bb",
      "name": "Valores31",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        -2000
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes6\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes6').item.json.content.telefones[1] }}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $('buscar pacientes6').item.json[\"content\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31247341-9f01-4be3-9c74-80296db02707",
      "name": "Valores32",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        -1860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes6').item.json.content.celulares[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6cc83b8b-bfc5-49ad-a9fe-a247315dae8d",
      "name": "IF30",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -780,
        -2260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes6').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6299cdab-bcf8-43ac-87f0-16ae535640c6",
      "name": "IF31",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -780,
        -2120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes6').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d95dcb0f-ab79-4a8e-8b79-488554688ae4",
      "name": "IF32",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -780,
        -1980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes6').item.json.content.telefones[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "86dca24c-8f9f-4aed-a207-9fcaf2b1ffbb",
      "name": "IF33",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -780,
        -1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('separa agendamentos5').item.json[\"profissional_id\"].toString() }}",
              "value2": "9"
            },
            {
              "value1": "={{ $('separa agendamentos5').item.json[\"profissional_id\"].toString() }}",
              "value2": "10"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "ff537ec0-4128-4164-9ad4-81e47eb6cb83",
      "name": "IF34",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1740,
        -2260
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "21862dc8-cbd3-4473-a271-5721da43b47b",
      "name": "1 por vez7",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        680,
        -2260
      ]
    },
    {
      "parameters": {
        "value": "={{ $now }}",
        "dataPropertyName": "data-busca",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {
          "fromTimezone": "America/Sao_Paulo"
        }
      },
      "id": "4e38e547-9253-4de5-9e06-7d06cc8bff8a",
      "name": "formatando5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2440,
        -2260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            },
            {
              "name": "procedimento",
              "value": "={{ $json.appended_procedimento[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a714f366-18ad-4c0a-a426-afa4accf8875",
      "name": "Valores33",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        -2260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "procedimento",
              "value": "={{ $('BUSCAR PROCEDIMENTO5').item.json.content[0].nome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b6fc5fe-6080-4182-a735-d8329b02b72e",
      "name": "Valores34",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -220,
        -2240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "bd8d1a43-cd16-4648-943a-5317c47e334d",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2660,
        1100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "3b4c7a3c-b0f8-4686-99c8-a1b21185a40d",
      "name": "Schedule Trigger4",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2660,
        1720
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "id": "2f717144-06ad-4cee-b4cc-23ba0df0d433",
      "name": "Schedule Trigger5",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2680,
        2980
      ]
    },
    {
      "parameters": {},
      "id": "4f36a1c6-5f61-4d13-bb5a-cfb63966dfb4",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2780,
        -540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Day of week\"] }}",
              "value2": "Sunday"
            }
          ]
        }
      },
      "id": "068e40ad-9561-4b40-8a7a-632b1aebeca7",
      "name": "hoje é domingo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2580,
        -820
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "dec17f13-6295-468c-bca5-7755cf91850e",
      "name": "buscar pacientes7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -620,
        -600
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.content.nome }}"
            },
            {
              "name": "status",
              "value": "={{ $('Marcado - não confirmado1').item.json.status_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "42b2f523-a529-4625-88e3-b473a57bb204",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -400,
        -600
      ]
    }
  ],
  "pinData": {
    "formatando5": [
      {
        "json": {
          "timestamp": "2023-08-30T02:43:32.874-03:00",
          "Readable date": "August 30th 2023, 2:43:32 am",
          "Readable time": "2:43:32 am",
          "Day of week": "Wednesday",
          "Year": "2023",
          "Month": "August",
          "Day of month": "30",
          "Hour": "02",
          "Minute": "43",
          "Second": "32",
          "Timezone": "-03 -03:00",
          "data-busca": "29-08-2023"
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger2": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger3": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger4": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger5": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-08-30T02:12:04.725Z",
      "updatedAt": "2023-08-30T02:12:04.725Z",
      "id": "2",
      "name": "Fabiolas"
    }
  ],
  "triggerCount": 6,
  "updatedAt": "2023-09-27T20:39:21.000Z",
  "versionId": "5e42fda9-0013-4149-a710-090a523d3784"
}