workflows/Fabiolas - Consultar no feegow e Enviar Lembretes.json
{
  "active": false,
  "connections": {
    "data hoje": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "1 por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Lembrete no dia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembrete 30 dias depois",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Lembrete 150 dias depois",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avaliação 1 dia depois",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3 dias antes",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Lembrete 30 dias depois": {
      "main": [
        [
          {
            "node": "foi atendido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete no dia": {
      "main": [
        []
      ]
    },
    "foi atendido?": {
      "main": [
        [
          {
            "node": "É IMPLANTE HORMONAL?1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "enviar fluxo implante hormonal": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 150 dias depois": {
      "main": [
        [
          {
            "node": "foi atendido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foi atendido?1": {
      "main": [
        [
          {
            "node": "É IMPLANTE HORMONAL?2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "enviar fluxo implante hormonal1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "1 por vez": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando nome médica": {
      "main": [
        [
          {
            "node": "salvando hora agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando hora agendamento": {
      "main": [
        [
          {
            "node": "salvando procedimento agendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando procedimento agendado": {
      "main": [
        [
          {
            "node": "salvando DATA procedimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "tag fabiola ribeiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tag fabiola leite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag fabiola ribeiro": {
      "main": [
        [
          {
            "node": "enviar fluxo confirmação de agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag fabiola leite": {
      "main": [
        [
          {
            "node": "enviar fluxo confirmação de agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo confirmação de agendamento": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "data hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliação 1 dia depois": {
      "main": [
        [
          {
            "node": "foi atendido?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foi atendido?2": {
      "main": [
        [
          {
            "node": "É IMPLANTE HORMONAL?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "enviar fluxo avaliação": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É IMPLANTE HORMONAL?": {
      "main": [
        [
          {
            "node": "enviar fluxo IMPLANTE HORMONAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar fluxo avaliação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo IMPLANTE HORMONAL": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "data hoje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data hoje1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "atendimento hoje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "laser intimo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "estetica/cirurgia intima1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1 por vez1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1 por vez1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "laser intimo1": {
      "main": [
        [
          {
            "node": "enviar fluxo laser íntimo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estetica/cirurgia intima1": {
      "main": [
        [
          {
            "node": "enviar fluxo estética/cirurgia íntima1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atendimento hoje?": {
      "main": [
        [
          {
            "node": "1 por vez1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo laser íntimo1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo estética/cirurgia íntima1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "1 por vez1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 dias antes": {
      "main": [
        [
          {
            "node": "é laser?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo laser íntimo 3 dias antes": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando DATA procedimento": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É IMPLANTE HORMONAL?1": {
      "main": [
        [
          {
            "node": "enviar fluxo implante hormonal",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "É IMPLANTE HORMONAL?2": {
      "main": [
        [
          {
            "node": "enviar fluxo implante hormonal1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "é laser?": {
      "main": [
        [
          {
            "node": "enviar fluxo laser íntimo 3 dias antes",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Listar Agendamentos": {
      "main": [
        [
          {
            "node": "separa agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes1": {
      "main": [
        [
          {
            "node": "BUSCAR PROCEDIMENTO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR PROCEDIMENTO2": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renomeando status1": {
      "main": [
        [
          {
            "node": "buscar pacientes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcado - não confirmado1": {
      "main": [
        [
          {
            "node": "Renomeando status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 POR VEZ1": {
      "main": [
        [
          {
            "node": "Validar Telefone BR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR1": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Valores Planilha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores Planilha2": {
      "main": [
        [
          {
            "node": "1 POR VEZ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hoje é sexta?": {
      "main": [
        [
          {
            "node": "somando 3 dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "somando 1 dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "somando 1 dia": {
      "main": [
        [
          {
            "node": "formatando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "somando 3 dias": {
      "main": [
        [
          {
            "node": "formatando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos": {
      "main": [
        [
          {
            "node": "Marcado - não confirmado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores1": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores2": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores3": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "hoje é sexta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Valores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência1": {
      "main": [
        [
          {
            "node": "salvando nome médica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Valores1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Valores2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        []
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "Valores3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-27T04:44:49.831Z",
  "id": "16",
  "name": "Fabiolas - Consultar no feegow e Enviar Lembretes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "d375242e-232f-43a7-92a7-5f1f1a7cf54f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "DataHoje",
              "value": "={{Date()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9862d2db-c343-4b55-beee-ec63e7d2db25",
      "name": "data hoje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        100,
        240
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"DataHoje\"] }}",
        "dataPropertyName": "data hoje",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {}
      },
      "id": "be247f39-abb7-46a9-a784-9a827820b05d",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WAPCHqXPkKUpvSH3cgWhKu6_6-jNytqg0CudwcirpGE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lembretes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAPCHqXPkKUpvSH3cgWhKu6_6-jNytqg0CudwcirpGE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Lembrete 1 dia antes",
              "lookupValue": "={{ $json[\"data hoje\"] }}"
            },
            {
              "lookupColumn": "Lembrete no dia",
              "lookupValue": "={{ $json[\"data hoje\"] }}"
            },
            {
              "lookupColumn": "Avaliação 1 dia depois",
              "lookupValue": "={{ $json[\"data hoje\"] }}"
            },
            {
              "lookupColumn": "Lembrete 30 dias",
              "lookupValue": "={{ $json[\"data hoje\"] }}"
            },
            {
              "lookupColumn": "Lembrete 150 dias",
              "lookupValue": "={{ $json[\"data hoje\"] }}"
            },
            {
              "lookupColumn": "Lembrete 3 dias antes",
              "lookupValue": "={{ $json[\"data hoje\"] }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "785c9ba4-1173-4aeb-8ff2-13bd6b39f5db",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        540,
        240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Date & Time\"].json[\"data hoje\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "={{ $json[\"Lembrete 1 dia antes\"] }}"
            },
            {
              "value2": "={{ $json[\"Lembrete no dia\"] }}",
              "output": 1
            },
            {
              "value2": "={{ $json[\"Lembrete 30 dias\"] }}",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "d856940e-ed79-4a02-8dc3-12cd2a9e6114",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1720,
        240
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Date & Time\"].json[\"data hoje\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "={{ $node[\"1 por vez\"].json[\"Lembrete 150 dias\"] }}"
            },
            {
              "value2": "={{ $node[\"1 por vez\"].json[\"Avaliação 1 dia depois\"] }}",
              "output": 1
            },
            {
              "value2": "={{ $node[\"1 por vez\"].json[\"Lembrete 3 dias antes\"] }}",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "a6fb168b-3780-49d6-8479-c9a3355d022f",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1700,
        1080
      ]
    },
    {
      "parameters": {},
      "id": "b2e50c85-ab98-46a2-a978-e360a2454d01",
      "name": "Lembrete no dia",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2100,
        220
      ]
    },
    {
      "parameters": {},
      "id": "24d6269c-932f-4cac-a790-42bdc5c25ae9",
      "name": "Lembrete 30 dias depois",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2160,
        580
      ]
    },
    {
      "parameters": {},
      "id": "fd821c15-54a4-4f8c-8100-c42eab4db164",
      "name": "Lembrete 150 dias depois",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2160,
        800
      ]
    },
    {
      "parameters": {},
      "id": "5934ada5-3976-4135-b881-8e89b7d17337",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"1 por vez\"].json[\"STATUS\"] }}",
              "value2": "Atendido"
            }
          ]
        }
      },
      "id": "24ba8c81-558d-4986-aaaf-a740d98896c3",
      "name": "foi atendido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        580
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "39937402-9dcf-4b99-8e85-b745a0369437",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3980,
        560
      ],
      "webhookId": "e488acb1-4e17-4ba7-be21-3606162e4402"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$json[\"ID - BC\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "890681"
            }
          ]
        },
        "options": {}
      },
      "id": "77bdc40c-4146-48bf-a673-4155d9beae5e",
      "name": "enviar fluxo implante hormonal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2900,
        500
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"1 por vez\"].json[\"STATUS\"] }}",
              "value2": "Atendido"
            }
          ]
        }
      },
      "id": "92e809e9-0040-4358-bdd4-97301ac8c8d2",
      "name": "foi atendido?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$json[\"ID - BC\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "890725"
            }
          ]
        },
        "options": {}
      },
      "id": "bf93ce4a-f11e-41b0-ad8f-128a064bd66f",
      "name": "enviar fluxo implante hormonal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2900,
        740
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/custom_fields/521316/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $node[\"1 por vez\"].json[\"MEDICA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbadb4eb-100c-4811-862c-2a0e2ac891b7",
      "name": "salvando nome médica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2340,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "76d6a7b7-823a-410e-8892-2790ab65cf65",
      "name": "1 por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1500,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/custom_fields/521315/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{$node[\"1 por vez\"].json[\"HORÁRIO\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "764ccb1f-f4ce-408b-96f6-206f57e7fb15",
      "name": "salvando hora agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2560,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/custom_fields/521328/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{$node[\"1 por vez\"].json[\"PROCEDIMENTO\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "06028f06-fccb-42b5-a05d-a39ada68cb5e",
      "name": "salvando procedimento agendado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2780,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"1 por vez\"].json[\"MEDICA\"] }}",
              "value2": "Fabiola Ribeiro"
            }
          ]
        }
      },
      "id": "80f5113e-24e6-45c2-86b0-9b052e449a1d",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3200,
        -840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/tags/1407115/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "9e1d3907-6331-4bf0-89d6-747841f57aa9",
      "name": "tag fabiola ribeiro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3420,
        -940
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/tags/1407118/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d3199df6-0a46-4221-a4a4-d869dbfa9c02",
      "name": "tag fabiola leite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3420,
        -760
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Lembrete 1 dia antes\"].json[\"ID - BC\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "890289"
            }
          ]
        },
        "options": {}
      },
      "id": "3aebdd86-973e-41ad-9fff-d8da3d405c77",
      "name": "enviar fluxo confirmação de agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3700,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "265931f0-54c0-443e-9416-84a85fa04fd1",
      "name": "Avaliação 1 dia depois",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2160,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"1 por vez\"].json[\"STATUS\"] }}",
              "value2": "Atendido"
            }
          ]
        }
      },
      "id": "f70cb6fb-6a0b-4d73-a9c3-6c769bb46e61",
      "name": "foi atendido?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$json[\"ID - BC\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "889483"
            }
          ]
        },
        "options": {}
      },
      "id": "9ef0d92d-ad11-4b22-a4d3-100c8e7be5e3",
      "name": "enviar fluxo avaliação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2900,
        1060
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"1 por vez\"].json[\"PROCEDIMENTO\"] }}",
              "value2": "Implante Hormonal I"
            }
          ]
        }
      },
      "id": "5433c156-e6dd-4337-bcdc-694f8c74ace5",
      "name": "É IMPLANTE HORMONAL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$json[\"ID - BC\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "890611"
            }
          ]
        },
        "options": {}
      },
      "id": "8a6d4cee-18f5-4741-a568-988ff6afc694",
      "name": "enviar fluxo IMPLANTE HORMONAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2900,
        880
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "a3f0f27a-d311-4f46-8c82-776e26db1cbd",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        500,
        1540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "DataHoje",
              "value": "={{Date()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3c4b80db-f2e9-4ca0-aa62-45561d1a7011",
      "name": "data hoje1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        1540
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"DataHoje\"] }}",
        "dataPropertyName": "data hoje",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {}
      },
      "id": "956e96fc-ef74-4376-97e3-2ac315a12372",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        960,
        1540
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WAPCHqXPkKUpvSH3cgWhKu6_6-jNytqg0CudwcirpGE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lembretes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAPCHqXPkKUpvSH3cgWhKu6_6-jNytqg0CudwcirpGE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "Atendido"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "6c103dc5-9def-4460-9ef1-340ad28fd711",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1180,
        1540
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$json[\"ID - BC\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "794271"
            }
          ]
        },
        "options": {}
      },
      "id": "b149e952-2ed9-41fb-ab97-57a33823cffd",
      "name": "enviar fluxo laser íntimo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2260,
        1480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "76057aab-bf70-4676-8886-49d8058a8f7b",
      "name": "1 por vez1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1600,
        1540
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"1 por vez1\"].json[\"PROCEDIMENTO\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "Laser Fotona Íntimo"
            },
            {
              "value2": "Cirurgia Íntima",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "32e95cc1-0158-4324-b3cf-127994019df0",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1780,
        1540
      ]
    },
    {
      "parameters": {},
      "id": "e5bba2c6-2007-434d-ae22-40b744731f10",
      "name": "laser intimo1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2040,
        1480
      ]
    },
    {
      "parameters": {},
      "id": "2846c9f8-772f-4c71-8429-eac998de8e53",
      "name": "estetica/cirurgia intima1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2040,
        1660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$json[\"ID - BC\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "891168"
            }
          ]
        },
        "options": {}
      },
      "id": "c38025cb-c268-4ae1-b970-f94422a3fd5d",
      "name": "enviar fluxo estética/cirurgia íntima1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2260,
        1660
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"DATA\"] }}",
              "value2": "={{ $node[\"Date & Time1\"].json[\"data hoje\"] }}"
            }
          ]
        }
      },
      "id": "8f854653-18f8-4a5a-a99f-856eb773fe25",
      "name": "atendimento hoje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1400,
        1540
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "29e007ed-3bd7-4e48-b972-463133eb9d8a",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2560,
        1660
      ],
      "webhookId": "6fd3cb49-ced0-4bbf-9ab7-402b60d3924a"
    },
    {
      "parameters": {},
      "id": "ecfdc4a8-d4ec-432e-a378-51f3c9c1787d",
      "name": "3 dias antes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2160,
        1220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$json[\"ID - BC\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "790956"
            }
          ]
        },
        "options": {}
      },
      "id": "263bdb89-a425-47a5-bee5-dd0c0efa9512",
      "name": "enviar fluxo laser íntimo 3 dias antes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2620,
        1200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/custom_fields/569261/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{$node[\"1 por vez\"].json[\"DATA\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "366cc23b-dcd7-44e8-8d36-14d45dc9ad46",
      "name": "salvando DATA procedimento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3000,
        -840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"1 por vez\"].json[\"PROCEDIMENTO\"] }}",
              "value2": "Implante Hormonal I"
            }
          ]
        }
      },
      "id": "73a11413-1cb8-4ced-8dbe-b1c7384264ee",
      "name": "É IMPLANTE HORMONAL?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"1 por vez\"].json[\"PROCEDIMENTO\"] }}",
              "value2": "Implante Hormonal I"
            }
          ]
        }
      },
      "id": "80e1feea-f1aa-4c6a-b57d-13fd32f81b52",
      "name": "É IMPLANTE HORMONAL?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"1 por vez\"].json[\"PROCEDIMENTO\"] }}",
              "value2": "Laser Fotona Íntimo"
            }
          ]
        }
      },
      "id": "a359f63e-9488-4692-9980-c1fd7ac1950c",
      "name": "é laser?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        1220
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-amanha\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-amanha\"] }}"
            }
          ]
        }
      },
      "id": "5d6adc43-808e-4868-8b12-19e573de401f",
      "name": "Listar Agendamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1300,
        -820
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{$node[\"Renomeando status1\"].json[\"paciente_id\"]}}"
            }
          ]
        }
      },
      "id": "d0ef1c0d-a376-4bd5-a2f6-a08e169cdebe",
      "name": "buscar pacientes1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -360,
        -820
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/procedures/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "procedimento_id",
              "value": "={{ $node[\"Renomeando status1\"].json[\"procedimento_id\"] }}"
            }
          ]
        }
      },
      "id": "fae71dab-ecc0-4e4b-b551-9c06866587c0",
      "name": "BUSCAR PROCEDIMENTO2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -120,
        -820
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status_id",
              "value": "={{ $json.status_id.toString().replace(\"3\",\"Atendido\").replace(\"1\",\"Marcado - não confirmado\").replace(\"7\",\"Marcado - confirmado\").replace(\"11\",\"Desmarcado\").replace(\"15\",\"Remarcado\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "507e3e98-2398-4675-8779-8f2631be859e",
      "name": "Renomeando status1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -600,
        -820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_id.toString() }}",
              "value2": "1"
            }
          ]
        }
      },
      "id": "29434ac8-db00-4615-a049-e13757a6603a",
      "name": "Marcado - não confirmado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -860,
        -820
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "fb4b9d29-9115-4a1a-b206-1891e6dd75ff",
      "name": "1 POR VEZ1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1600,
        -820
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"1 POR VEZ1\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"1 POR VEZ1\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"1 POR VEZ1\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"1 POR VEZ1\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"1 POR VEZ1\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"1 POR VEZ1\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2080,
        -840
      ],
      "id": "4fbfb8a1-9cfc-4662-b0d8-2c5d3b04504d",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "14",
          "name": "BotConversa Dra Simone"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR1",
      "type": "n8n-nodes-base.function",
      "position": [
        1840,
        -840
      ],
      "typeVersion": 1,
      "id": "1447e9de-97ff-406a-b41b-f00538e25b41",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/custom_fields/854414/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $node[\"1 POR VEZ1\"].json[\"agendamento_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "21c974f8-3aa7-4ad8-9c82-768b33a64c5f",
      "name": "Atualizar ID do Agendamento no BC1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1280,
        -440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "14",
          "name": "BotConversa Dra Simone"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c59be0b3-6c54-43fa-828b-ced1f0c896ea",
      "name": "possui telefone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        -820
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "procedimento",
              "separateBy": ", "
            },
            {
              "aggregation": "concatenate",
              "field": "agendamento_id"
            },
            {
              "aggregation": "append",
              "field": "data"
            },
            {
              "aggregation": "append",
              "field": "horario"
            },
            {
              "aggregation": "append",
              "field": "telefone"
            },
            {
              "aggregation": "append",
              "field": "nome"
            }
          ]
        },
        "fieldsToSplitBy": "paciente_id",
        "options": {}
      },
      "id": "3f41c076-25b9-45fd-b681-895a3dce8d98",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1180,
        -820
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{ $json.concatenated_agendamento_id.toString() }}"
            },
            {
              "name": "data",
              "value": "={{ $json.appended_data[0].toString() }}"
            },
            {
              "name": "horario",
              "value": "={{ $json.appended_horario[0].toString() }}"
            },
            {
              "name": "nome",
              "value": "={{ $json.appended_nome[0].toString() }}"
            },
            {
              "name": "procedimento",
              "value": "={{ $json.concatenated_procedimento }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.appended_telefone[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "012d5a9a-3d01-4b22-a642-162ca859d755",
      "name": "Valores Planilha2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        -820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Day of week\"] }}",
              "value2": "Friday"
            }
          ]
        }
      },
      "id": "4b8052ac-55bb-4f99-a8bd-6a5b1e4287aa",
      "name": "hoje é sexta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2040,
        -820
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"data-amanha\"] }}",
        "dataPropertyName": "data-amanha",
        "custom": true,
        "toFormat": "DD-MM-YYYY",
        "options": {}
      },
      "id": "01b05d79-39f6-44e2-b391-767425a5dfec",
      "name": "formatando",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1520,
        -820
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "duration": 1,
        "dataPropertyName": "data-amanha",
        "options": {}
      },
      "id": "f74191c7-e1a9-4d1f-8d6d-fada05b6274e",
      "name": "somando 1 dia",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1780,
        -740
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{Date()}}",
        "duration": 3,
        "dataPropertyName": "data-amanha",
        "options": {}
      },
      "id": "6f1d5db7-e0ff-4da1-87d1-1dbbaa8ab661",
      "name": "somando 3 dias",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1780,
        -900
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status1\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status1\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status1\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status1\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO2\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status1\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"celulares\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f9c4a9b9-eb64-475e-9f88-1bcc675fe4aa",
      "name": "Valores",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        -840
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "9428b421-5352-4eeb-90f6-08f2261c6b5a",
      "name": "separa agendamentos",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1080,
        -820
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/list",
        "options": {}
      },
      "id": "98311310-652a-4299-9e5d-d52438ac39f1",
      "name": "buscar pacientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1040,
        -440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "13",
          "name": "Feegow Dra Simone"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status1\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status1\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status1\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status1\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO2\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status1\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"celulares\"][1]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "83a5e028-5fb3-4675-a803-cb5f1fce82a5",
      "name": "Valores1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        -640
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status1\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status1\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status1\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status1\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO2\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status1\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes1').item.json.content.telefones[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "015a72d5-97b6-4d32-af1b-e7eb8612d64c",
      "name": "Valores2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        -440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "agendamento_id",
              "value": "={{$node[\"Renomeando status1\"].json[\"agendamento_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Renomeando status1\"].json[\"data\"]}}"
            },
            {
              "name": "horario",
              "value": "={{ $node[\"Renomeando status1\"].json[\"horario\"].slice(0,5)}}"
            },
            {
              "name": "paciente_id",
              "value": "={{ $node[\"Renomeando status1\"].json[\"paciente_id\"] }}"
            },
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes1\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "procedimento",
              "value": "={{$node[\"BUSCAR PROCEDIMENTO2\"].json[\"content\"][0][\"nome\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"Renomeando status1\"].json[\"status_id\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{ $('buscar pacientes1').item.json.content.telefones[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0557057-ba0e-460b-b78a-17001c32d045",
      "name": "Valores3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        -240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "062b5732-b53e-4a1e-8ee8-a2155937d20d",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2280,
        -820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes1').item.json.content.celulares[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "4ca203ca-ce7d-4dfc-ad07-4969a6792ed4",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes1').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e5e1e1f3-63d3-4563-a1de-767597d615a4",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes1').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "84a061d0-5db4-4b16-af0d-c13abfdf0812",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -420
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "5d2889a0-867b-4929-b43c-33e86087320b",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3960,
        -840
      ],
      "webhookId": "c22b43ee-cbea-4131-8525-39264a397d75",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes1').item.json.content.telefones[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "15b9f76e-1446-4819-bbf6-3d237bf8b7e0",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-08-18T04:39:59.000Z",
  "versionId": "1befcf8e-73e1-4a14-a80c-6dc17d685cd6"
}