workflows/Fluxo Aniversário.json
{
  "active": true,
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "buscar pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Validar Telefone BR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone BR": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "tag fabiola ribeiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tag fabiola leite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag fabiola ribeiro": {
      "main": [
        [
          {
            "node": "enviar fluxo aniversário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag fabiola leite": {
      "main": [
        [
          {
            "node": "enviar fluxo aniversário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo aniversário": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos": {
      "main": [
        [
          {
            "node": "separa agendamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos2": {
      "main": [
        [
          {
            "node": "separa agendamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Listar Agendamentos2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger4": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger5": {
      "main": [
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "Listar Agendamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger6": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-04T20:20:39.192Z",
  "id": "5",
  "name": "Fluxo Aniversário",
  "nodes": [
    {
      "parameters": {},
      "id": "305e3503-8f65-4bed-951f-5b6ffe89d991",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "value": "={{Date()}}",
        "dataPropertyName": "data hoje",
        "custom": true,
        "toFormat": "YYYY-MM-DD",
        "options": {}
      },
      "id": "2c95ded8-193b-4bec-b6a5-9db368db28d8",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        520,
        40
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "623e3a20-b609-4afe-9739-602b1c199117",
      "name": "buscar pacientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2240,
        140
      ],
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "bcacdf29-f3b0-4894-bb72-7676a6acdf4a",
      "name": "separa agendamentos1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1780,
        140
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1WAPCHqXPkKUpvSH3cgWhKu6_6-jNytqg0CudwcirpGE/edit#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 262658505,
          "mode": "list",
          "cachedResultName": "Aniversários",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAPCHqXPkKUpvSH3cgWhKu6_6-jNytqg0CudwcirpGE/edit#gid=262658505"
        },
        "columnToMatchOn": "paciente_id",
        "valueToMatchOn": "={{ $json[\"content\"][\"id\"].toString() }}",
        "fieldsUi": {
          "values": [
            {
              "column": "nome",
              "fieldValue": "={{ $json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "data aniversário",
              "fieldValue": "={{ $json[\"content\"][\"nascimento\"].slice(0,5)}}"
            },
            {
              "column": "Telefone",
              "fieldValue": "={{ $json[\"content\"][\"celulares\"][0] }}"
            },
            {
              "column": "profissional",
              "fieldValue": "Fabiola Ribeiro"
            }
          ]
        },
        "options": {}
      },
      "id": "20abbdb0-90d1-42d5-b1b6-6fcf0ed67c25",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2480,
        140
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "24e9f10d-a984-46e1-8ed3-5ec27efa7b02",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2700,
        140
      ],
      "webhookId": "3ff1f5cc-d4d8-4f10-8da1-1b53de283839"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "84a552d9-22fd-4371-bc23-135a8ec8a08e",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2000,
        140
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "07ccbecd-cb01-4ec4-b31b-d8fe81106767",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        1120,
        1300
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1WAPCHqXPkKUpvSH3cgWhKu6_6-jNytqg0CudwcirpGE/edit#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 262658505,
          "mode": "list",
          "cachedResultName": "Aniversários",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAPCHqXPkKUpvSH3cgWhKu6_6-jNytqg0CudwcirpGE/edit#gid=262658505"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "data aniversário",
              "lookupValue": "={{ $json[\"data\"] }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "13822cf6-ba8c-4ead-a196-fbfe4c7bbceb",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1520,
        1300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "value": "={{Date()}}",
        "custom": true,
        "toFormat": "DD-MM",
        "options": {}
      },
      "id": "dee44447-121e-44f5-b971-e98649efa9c6",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1320,
        1300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"SplitInBatches1\"].json[\"nome\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"SplitInBatches1\"].json[\"nome\"].split(' ')[1]}} {{ $node[\"SplitInBatches1\"].json[\"nome\"].split(' ')[2]}} {{ $node[\"SplitInBatches1\"].json[\"nome\"].split(' ')[3]}} {{ $node[\"SplitInBatches1\"].json[\"nome\"].split(' ')[4]}} {{ $node[\"SplitInBatches1\"].json[\"nome\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2420,
        1300
      ],
      "id": "fac00239-88ea-4022-8d50-ed10ccaaa5c0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json[\"Telefone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "06a501fa-f59d-4c3c-a0a8-dcf0e1c478c9",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1960,
        1300
      ]
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone BR",
      "type": "n8n-nodes-base.function",
      "position": [
        2180,
        1300
      ],
      "typeVersion": 1,
      "id": "5d97b598-07f9-479b-8fb3-e8c9ac3115d4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Cadastrando na Audiência\"].json[\"id\"]}}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "885554"
            }
          ]
        },
        "options": {}
      },
      "id": "614db186-fdf3-45cd-a3d3-514dea22d22a",
      "name": "enviar fluxo aniversário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3140,
        1280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"SplitInBatches1\"].json[\"profissional\"]}}",
              "value2": "Fabiola Ribeiro"
            }
          ]
        }
      },
      "id": "e9cd6d95-81d7-4c93-b695-b437389ec1a0",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2640,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Cadastrando na Audiência\"].json[\"id\"]}}/tags/1407115/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "8b7a7f3d-b41a-4de8-a320-4b1f4cc2c262",
      "name": "tag fabiola ribeiro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2860,
        1140
      ],
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Cadastrando na Audiência\"].json[\"id\"]}}/tags/1407118/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "999e4fc2-02c8-41b2-8d8e-7f56b3f92181",
      "name": "tag fabiola leite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2860,
        1380
      ],
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BotConversa Fabiolas"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "aef6ec87-e5b8-4441-a2c5-6d1760da8482",
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1740,
        1300
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "13c3fd58-8979-4958-89b3-e165c5df3cf2",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3360,
        1280
      ],
      "webhookId": "3f22b46f-be72-43a6-a30d-c12796f38dd2"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data inicial\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data final\"] }}"
            },
            {
              "name": "profissional_id",
              "value": "9"
            }
          ]
        }
      },
      "id": "19e0f53f-8b43-4cda-9467-234f440f84d6",
      "name": "Listar Agendamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1520,
        40
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data inicial\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data final\"] }}"
            },
            {
              "name": "profissional_id",
              "value": "10"
            }
          ]
        }
      },
      "id": "69e3be86-f1e1-46ef-9357-5930f1504b64",
      "name": "Listar Agendamentos2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1520,
        240
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "feegow fabiolas"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data inicial",
              "value": "26-04-2021"
            },
            {
              "name": "data final",
              "value": "26-09-2021"
            }
          ]
        },
        "options": {}
      },
      "id": "28a0385d-d682-43c6-b093-c5cd4ce38a06",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data inicial",
              "value": "26-09-2021"
            },
            {
              "name": "data final",
              "value": "26-02-2022"
            }
          ]
        },
        "options": {}
      },
      "id": "dc77f2f1-14c5-4b53-b774-f74cfc9a5695",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data inicial",
              "value": "26-02-2022"
            },
            {
              "name": "data final",
              "value": "26-07-2022"
            }
          ]
        },
        "options": {}
      },
      "id": "3d548e3a-5a6f-4bfe-ba65-5e3fdf8c0ebc",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        580
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data inicial",
              "value": "26-07-2022"
            },
            {
              "name": "data final",
              "value": "26-12-2022"
            }
          ]
        },
        "options": {}
      },
      "id": "ffe4d705-d88b-4bbd-96b5-d441b9d1d4c2",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data inicial",
              "value": "26-12-2022"
            },
            {
              "name": "data final",
              "value": "31-04-2023"
            }
          ]
        },
        "options": {}
      },
      "id": "2e92107f-2ee4-4197-9721-65357b7ccbc4",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        880
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "9d999c8c-b963-48ce-abb0-60ec18624276",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        960,
        240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "6cd880e9-c315-4f43-9a39-c7bdd55a9da9",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        960,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "id": "ef54154b-07e7-45d9-981b-e68800579ca6",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        960,
        560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "51842470-bba9-45d0-a110-8b87392146e4",
      "name": "Schedule Trigger4",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        960,
        720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "f7784cc0-a3a4-4db3-9d16-ccd64f450c06",
      "name": "Schedule Trigger5",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        960,
        880
      ],
      "disabled": true
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json[\"data hoje\"] }}",
        "duration": 150,
        "dataPropertyName": "data-final",
        "options": {}
      },
      "id": "cb968e94-4216-43d3-a394-65e9aa99bbaa",
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        720,
        40
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data inicial",
              "value": "={{ $json[\"data hoje\"] }}"
            },
            {
              "name": "data final",
              "value": "={{ $json[\"data-final\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5bc88de-6701-4aba-834e-818a0c761e5f",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        40
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "5a8dd2aa-c4cd-4d71-8437-b66ac7a629a0",
      "name": "Schedule Trigger6",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        320,
        40
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"data-final\"] }}",
        "dataPropertyName": "data-final",
        "custom": true,
        "toFormat": "YYYY-MM-DD",
        "options": {}
      },
      "id": "64cffa3c-d3a0-4ff2-811e-92d99fe49741",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        960,
        40
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger2": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger3": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger4": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger5": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger6": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-03-27T06:51:02.000Z",
  "versionId": "85b3d4c0-02d2-4b02-ace2-d1c0fae734b9"
}