workflows/Lembretes por Idade.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "subtraindo data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subtraindo data": {
      "main": [
        [
          {
            "node": "formatando data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando data": {
      "main": [
        [
          {
            "node": "Listar Agendamentos Dra Anne",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Agendamentos Dr Paulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos Dr Paulo": {
      "main": [
        [
          {
            "node": "separa agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Agendamentos Dra Anne": {
      "main": [
        [
          {
            "node": "separa agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa agendamentos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "separa agendamentos2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "buscar pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar pacientes": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Valores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Valores1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Valores2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Valores3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores1": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores2": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores3": {
      "main": [
        [
          {
            "node": "possui telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "possui telefone?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        []
      ]
    },
    "Set": {
      "main": [
        []
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-04T04:14:15.349Z",
  "id": "23",
  "name": "Lembretes por Idade",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a403e457-c510-4cee-8682-710fd8b41660",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        1140,
        400
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{$now}}",
        "duration": 23,
        "outputFieldName": "data-busca"
      },
      "id": "fc3baa1a-e7af-437b-922a-1b13c35c4cc7",
      "name": "subtraindo data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1420,
        400
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json['data-busca'] }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy",
        "outputFieldName": "data-busca",
        "options": {}
      },
      "id": "428cafab-3d1b-4ffc-bed7-8a8ece0f6f8b",
      "name": "formatando data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1640,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/professional/list",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-busca\"] }}"
            }
          ]
        }
      },
      "id": "27750e23-7814-4349-b272-262603a195d5",
      "name": "Listar Agendamentos1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1600,
        640
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "profissional_id",
              "value": "1"
            }
          ]
        }
      },
      "id": "a4426f34-a90c-4306-a5e7-33f711610ebb",
      "name": "Listar Agendamentos Dra Anne",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/appoints/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "data_start",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "data_end",
              "value": "={{ $json[\"data-busca\"] }}"
            },
            {
              "name": "profissional_id",
              "value": "5"
            }
          ]
        }
      },
      "id": "2963d93c-426b-4c02-a1ca-38727c17c7ba",
      "name": "Listar Agendamentos Dr Paulo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1920,
        500
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "32b4ab82-082d-4c17-812f-7c313d13be72",
      "name": "separa agendamentos",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2160,
        500
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData"
      },
      "id": "1f9e12f6-59ad-4e14-ba15-fc4324b70553",
      "name": "separa agendamentos1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2620,
        120
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "94fa5a5f-103b-43a5-a1b8-25f3489b76ec",
      "name": "separa agendamentos2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {},
      "id": "dbdc5ab7-9164-4275-b6d5-b70f77aa91e1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2420,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_id.toString() }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "f39d3bf4-50ea-45f7-b15b-b4dfb8b127ca",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2640,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.feegow.com/v1/api/patient/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "paciente_id",
              "value": "={{ $json[\"paciente_id\"] }}"
            }
          ]
        }
      },
      "id": "9ba158fb-dce9-463f-9100-b081535f876e",
      "name": "buscar pacientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2880,
        400
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "17",
          "name": "Feegow - BrinCare"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"celulares\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4684a1dd-0452-4ad9-b36b-744084fc8344",
      "name": "Valores",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3360,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.celulares[0] }}\n",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c3db7456-361e-4878-b785-386412cf5559",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.celulares[1] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d6e1e4dd-b015-41d0-b56e-1ad8e625c7fd",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3120,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('buscar pacientes').item.json.content.telefones[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1c3ce278-0132-486b-9c40-2db1da834fdb",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3120,
        840
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"celulares\"][1]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "17c26d79-7423-482a-bcd8-9563435bddf8",
      "name": "Valores1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3360,
        600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"telefones\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4a98c84-ce1a-485c-b52d-f8b491be7e83",
      "name": "Valores2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3360,
        820
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nome\"]}}"
            },
            {
              "name": "nascimento",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"nascimento\"]}}"
            },
            {
              "name": "telefone",
              "value": "={{$node[\"buscar pacientes\"].json[\"content\"][\"telefones\"][1]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd1dc816-2215-4e9d-904f-f1790fc050c4",
      "name": "Valores3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3360,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5f193902-3d53-4e43-95ca-8c7416036230",
      "name": "possui telefone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3620,
        380
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.nascimento.split(\"-\").reverse().join(\"-\") }}",
        "endDate": "={{$now.toFormat(\"yyyy-MM-dd\")}}",
        "units": [
          "year"
        ],
        "outputFieldName": "idade",
        "options": {}
      },
      "id": "5168dc0f-9ceb-45b0-ae74-208b90c100dd",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4140,
        340
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $('possui telefone?').item.json.nome }}"
            },
            {
              "name": "idade",
              "value": "={{ $json.idade.years.toFixed(1) }}"
            },
            {
              "name": "telefone",
              "value": "={{ $('possui telefone?').item.json.telefone }}"
            },
            {
              "name": "responsavel",
              "value": "={{ $('buscar pacientes').item.json.content.nome_social }}"
            },
            {
              "name": "nascimento",
              "value": "={{ $('possui telefone?').item.json.nascimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c920a15-04f1-4864-8cb1-f000beb60215",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4380,
        340
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "nome"
            },
            {
              "fieldName": "telefone"
            },
            {
              "fieldName": "idade"
            }
          ]
        },
        "options": {}
      },
      "id": "68325ebc-83e1-4a97-95a6-a502a8c5660b",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        4540,
        740
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "7e4e59be-126c-4990-854d-b8902817826b",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4280,
        760
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b217e46a-2e0a-485d-b478-53fb699fabe2",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        3880,
        360
      ]
    }
  ],
  "pinData": {
    "Listar Agendamentos1": [
      {
        "json": {
          "success": true,
          "content": [
            {
              "profissional_id": 3,
              "sys_user": 160117025,
              "fornecedor_id": 0,
              "nome": "ANA PAULA DO NASCIMENTO",
              "tratamento": "Dra.",
              "ativo": true,
              "rqe": "",
              "conselho": "CRM",
              "documento_conselho": "21255",
              "uf_conselho": "PE",
              "foto": null,
              "sexo": "Feminino",
              "especialidades": [
                {
                  "especialidade_id": 276,
                  "nome_especialidade": "Nefrologia Pediátrica",
                  "CBOS": null,
                  "rqe": "",
                  "conselho": "CRM",
                  "documento_conselho": "21255",
                  "uf_conselho": "PE"
                }
              ],
              "email": "anapn16@yahoo.com.br",
              "cpf": "87614561368"
            },
            {
              "profissional_id": 1,
              "sys_user": 160115471,
              "fornecedor_id": 0,
              "nome": "ANNE CAROLINE LIMA ROSA",
              "tratamento": null,
              "ativo": true,
              "rqe": "",
              "conselho": "CRM",
              "documento_conselho": "20359",
              "uf_conselho": "PE",
              "foto": null,
              "sexo": "Feminino",
              "especialidades": [
                {
                  "especialidade_id": 134,
                  "nome_especialidade": "Pediatria Geral",
                  "CBOS": "225124",
                  "rqe": "",
                  "conselho": "CRM",
                  "documento_conselho": "20359",
                  "uf_conselho": "PE"
                }
              ],
              "email": "annecarolinelr@gmail.com",
              "cpf": "02258223504"
            },
            {
              "profissional_id": 4,
              "sys_user": 160117106,
              "fornecedor_id": 0,
              "nome": "CLARISSA LORENA FONSECA COSTA",
              "tratamento": "Dra.",
              "ativo": true,
              "rqe": "",
              "conselho": "CRM",
              "documento_conselho": "26729",
              "uf_conselho": "PE",
              "foto": null,
              "sexo": "Feminino",
              "especialidades": [
                {
                  "especialidade_id": 270,
                  "nome_especialidade": "Gastroenterologia Pediátrica",
                  "CBOS": null,
                  "rqe": "",
                  "conselho": "CRM",
                  "documento_conselho": "26729",
                  "uf_conselho": "PE"
                }
              ],
              "email": "clarissafonsecacosta@hotmail.com",
              "cpf": "00538793503"
            },
            {
              "profissional_id": 2,
              "sys_user": 160117026,
              "fornecedor_id": 0,
              "nome": "JIULIANNA CASTRO DE ASSIS",
              "tratamento": "Dra.",
              "ativo": true,
              "rqe": "",
              "conselho": "CRM",
              "documento_conselho": "31752",
              "uf_conselho": "PE",
              "foto": null,
              "sexo": "Feminino",
              "especialidades": [
                {
                  "especialidade_id": 278,
                  "nome_especialidade": "Neurologia Pediátrica",
                  "CBOS": null,
                  "rqe": "",
                  "conselho": "CRM",
                  "documento_conselho": "31752",
                  "uf_conselho": "PE"
                },
                {
                  "especialidade_id": 281,
                  "nome_especialidade": "Psiquiatria Infantil",
                  "CBOS": null,
                  "rqe": "",
                  "conselho": "CRM",
                  "documento_conselho": "31752",
                  "uf_conselho": "PE"
                }
              ],
              "email": "jiulianna92@hotmail.com",
              "cpf": "09053977465"
            },
            {
              "profissional_id": 5,
              "sys_user": 160117104,
              "fornecedor_id": 0,
              "nome": "PAULO WEBSTER BEZERRA DE ARAUJO",
              "tratamento": null,
              "ativo": true,
              "rqe": "",
              "conselho": "CRM",
              "documento_conselho": "19532",
              "uf_conselho": "PE",
              "foto": null,
              "sexo": "Masculino",
              "especialidades": [
                {
                  "especialidade_id": 134,
                  "nome_especialidade": "Pediatria Geral",
                  "CBOS": "225124",
                  "rqe": "",
                  "conselho": "CRM",
                  "documento_conselho": "19532",
                  "uf_conselho": "PE"
                }
              ],
              "email": "PAULO_WEBSTER@HOTMAIL.COM",
              "cpf": "04862526470"
            }
          ],
          "total": 5
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "formatando data": [
      {
        "json": {
          "data-busca": "09-02-2024"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-09-18T10:45:17.940Z",
      "updatedAt": "2023-09-18T10:45:17.940Z",
      "id": "3",
      "name": "BrinCare"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-03-04T05:55:10.000Z",
  "versionId": "d727d7b2-c0a5-4f30-a9cc-ef8c7183de46"
}