workflows/limpar execucoes.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-21T18:17:44.032Z",
  "id": "10",
  "name": "limpar execucoes",
  "nodes": [
    {
      "parameters": {},
      "id": "c02c1b9c-c98b-42e4-b712-0b713c9dcfca",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "resource": "execution",
        "filters": {
          "status": "success"
        },
        "options": {
          "activeWorkflows": false
        }
      },
      "id": "f5415935-fcc5-45ff-93e0-519ddef1d3fd",
      "name": "n8n1",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "n8nApi": {
          "id": "10",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "81bd6d55-443f-4ec0-9e2c-b624e6cef8f4",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "49200e57-0c05-4bc7-b0b5-7d0927f2cd9b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        860,
        580
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://n8n-fabiolas.iszap.com.br/api/v1/executions/{{ $json[\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {}
      },
      "id": "87377f54-1306-4aa3-80bd-265db25cb6bb",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1640,
        400
      ],
      "credentials": {
        "n8nApi": {
          "id": "10",
          "name": "n8n account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-08T04:45:33.000Z",
  "versionId": "d3e8fbdb-50f8-4c7f-9261-e6bad6ee8b57"
}